[2020-02-08 15:49] cookie-blood opened #3309 "Wrong command to activating the package"
URL: https://pub.dev/packages/encrypt

Command in the docs for package activation is `pub global active encrypt`.
The right one is `pub global activate encrypt`.

[2020-02-10 09:08] jonasfj commented on #3309
This the repository for `pub.dev`, we do not write all the packages.

You can find the repository here: https://pub.dev/packages/encrypt

https://github.com/leocavalcante/encrypt

[2020-02-10 09:08] #3309 closed

[2020-02-10 09:11] jonasfj commented on #3308
Agreed, this would be nice feature.

Doing it is not trivial, worse is documenting in a manner that people will find it.

[2020-02-10 09:13] jonasfj commented on #3308
disclaimer: I don't think we have time to work on this anytime soon. If somone is interested in driving it we can likely do reviews, etc.

[2020-02-10 09:42] jonasfj commented on #3266
See also: https://github.com/flutter/flutter/issues/41563

[2020-02-10 09:48] jonasfj commented on #3291
@feinstein, I'm curious what metrics would you like:

 *  Number of times `pub get` was called on a `pubspec.yaml` with dependency on the package (number of `pub gets`).
 * Number of times `pub get` was called  on a `pubspec.yaml` with dependency on the package, AND the packages wasn't already cached locally (number of downloads).
 * Number of times `pub get` was called  on a `pubspec.yaml` with d

[2020-02-10 17:39] feinstein commented on #3291
I agree and IMO the number of installations/activations (last option) is the one that most resembles "projects that use my package", which is what I would love to see.

Considering the limitations I think this metric should come with a disclaimer note explaining its caveats.

[2020-02-11 16:08] kevmoo opened #3314 "Delete v2 of package_config"
Since we don't have https://github.com/dart-lang/pub-dev/issues/378 yet...

![Screen Shot 2020-02-11 at 8 06 55 AM](https://user-images.githubusercontent.com/17034/74254606-87ce9900-4ca5-11ea-9019-c763b8cdd476.png)

We don't like the API shipped in v2. We'd like to make sure no one gets it.

So far, there has only been **1** download of it. I think it's safe to eliminate.

CC @jakemac53 @lrhn

[2020-02-11 16:16] jakemac53 commented on #3314
Lets do this quickly before it does actually pick up some usages please! It should greatly simplify things.

[2020-02-12 16:17] jonasfj commented on #3314
It's been a bit long after publishing, so need sign-off from mit-mit@ :)

[2020-02-12 19:07] jonasfj opened #3320 "pub.dev/policy does not mention where unpublishing requests should be sent"
afaik they should be sent to `support@pub.dev`.

I'll sign my self to find out how to resolve this.

[2020-02-12 20:29] jonasfj opened #3321 "Add platform:macos tag"
Add a tag for packages compatible with `macos`. or at-least discuss doing so.

[2020-02-12 20:42] jonasfj commented on #3321
This is perhaps a TODO to me to find out if/when we want to add this tag.

[2020-02-13 16:38] TheCloudGit opened #3324 "Can't publish a package"
URL: https://pub.dev/

pub publish is not working.

HTTP error 500: Internal Server Error at https://pub.dartlang.org/api/packages/versions/newUploadFinish?upload_id=b578094d-3b47-47ac-a088-f477cea31686&bucket=pub-packages&key=tmp/b578094d-3b47-47ac-a088-f477cea31686&etag=d41d8cd98f00b204e9800998ecf8427e.
This is likely a transient error. Please try again later.

[2020-02-13 16:47] isoos commented on #3324
@TheCloudGit: server logs indicate that we were not able to unpack the archive you've uploaded. Could you please share more about your system? (e.g. OS, Dart SDK)

Please also include a verbose log: `pub publish -v` (or similar with Flutter if you are using that.).

[2020-02-14 13:44] #3225 closed

[2020-02-14 13:45] isoos commented on #3225
Since the issue was opened, we have limited the amount of lint penalty, and reverted to use pedantic 1.8.0.

[2020-02-14 20:20] rmazur commented on #3037
Hi,
I also get same error while trying to publish a new package even after a pub logout.
"MissingAuthentication: Authenication is required, please add `authorization` header.."
credentials.json file seems to be fine.
-----------------------------------------------
    | Then click "Allow access".
    |
    | Waiting for your authorization...
MSG : Authorization received, processing...
IO  : HTTP P

[2020-02-14 21:38] TheCloudGit commented on #3324
I test in two centos 7 servers, one in my notebook and the other in a Google cloud instance.
This are the results for the flutter --version
Centos 7
Flutter 1.12.13+hotfix.8 • channel stable •
https://github.com/flutter/flutter.git
Framework • revision 0b8abb4724 (3 days ago) • 2020-02-11 11:44:36 -0800
Engine • revision e1e6ced81d
Tools • Dart 2.7.0

With a windows 10 in my notebook a success, so

[2020-02-14 21:43] isoos commented on #3324
@TheCloudGit: FYI: Others had problems with Centos a while back: #101. The issue may be with `tar`...

[2020-02-15 09:57] isoos commented on #3037
@rmazur: what OS are you using?

[2020-02-17 09:00] sigurdm opened #3328 "Search from api docs broken"
Searching for `Text` from https://pub.dev/documentation/markdown/latest/markdown/HorizontalRuleSyntax-class.html

Gives this link:
https://pub.dev/documentation/markdown/latest/markdown/markdown/Text-class.html

That is a 404

Searching from https://pub.dev/documentation/markdown/latest/index.html
Gives the working link:

https://pub.dev/documentation/markdown/latest/markdown/Text-class.html

[2020-02-17 10:10] jonasfj opened #3329 "pub.dev/flutter/favorites does not list dart-only packages"
In short dart-only packages such as:
 * `built_value_generator`
 * `json_serializable`
 * `mobx_codegen`

Which are code generators is not listed on pub.dev/flutter/favorites, despite the fact that they are flutter favorites (and tagged as such).

[2020-02-17 10:35] jonasfj opened #3330 "meta tags for twitter / facebook needs review"
Running a URL like `https://pub.dev/packages/built_collection` through:
 * https://cards-dev.twitter.com/validator
 * https://developers.facebook.com/tools/debug

It's clear that we might need to update our meta tags. At-least twitter seems to be unable to parse our meta tags.

Guide to essential tags is available here: https://css-tricks.com/essential-meta-tags-social-media/

[2020-02-17 11:19] isoos opened #3331 "Improve markdown parsing"
- [ ] Refactor markdown parsing ([discussion](https://github.com/dart-lang/pub-dev/pull/3327#discussion_r380079118))
- [ ] Remove package name from the beginning of the `README.md` (#3238)
- [ ] Remove "Changelog" text from the beginning of the `CHANGELOG.md` ([discussion](https://github.com/dart-lang/pub-dev/pull/3327#discussion_r380083672))
- [ ] Document supported changelog formats
- [ ] Improv

[2020-02-17 11:33] isoos commented on #3328
This looks like an issue with the base URLs: both pages link to `markdown/Text-class.html` (referenced in the [dartdoc index](https://pub.dev/documentation/markdown/latest/index.json)), which is a relative link to the current page, and because of that, the in-library page will duplicate the library name in the URL.

@jcollins-g: Could you please take a look at it and confirm?

[2020-02-17 11:56] #3329 closed

[2020-02-17 11:58] isoos commented on #3330
Is there a validator that is public and not tied to a login?

[2020-02-17 17:42] bean5 opened #3336 "Make it easier for me to copy-paste the package name + version for use in pubspec.yaml"
**Expected**
When copying the package name _and_ the version, a visible/hidden `:` comes with it.

![after](https://user-images.githubusercontent.com/2052646/74676257-d632da80-5172-11ea-8f49-54f70b424676.png)

**Actual**
No helpful `:`, which means I paste it into pubspec.yaml and have to edit it.

![before](https://user-images.githubusercontent.com/2052646/74676253-d3d08080-5172-11ea-80aa-f861fc6

[2020-02-17 18:08] isoos commented on #3336
Maybe we could add `^` too, e.g. `uuid: ^2.0.4`?

[2020-02-17 22:01] bean5 commented on #3336
Well, I don't think we want the page to include that by default, which means we'd want a dropdown with various options for easy copy-paste. Something like Github:

![dropdown options with copy to clipboard](https://user-images.githubusercontent.com/2052646/74688645-61bd6300-5195-11ea-8607-565ca711280f.png)

Perhaps something like this, but less ugly:
![dropdown options with copy to clipboard](http

[2020-02-18 15:20] jonasfj commented on #3314
Resolved.

[2020-02-18 15:20] #3314 closed

[2020-02-18 15:21] jonasfj commented on #3321
After discussions in chat a few days ago, I think we decided not to do this yet.

[2020-02-18 15:21] #3321 closed

[2020-02-18 15:23] jonasfj commented on #2680
https://pub.dev/policy has landed.

[2020-02-18 15:23] #2680 closed

[2020-02-18 15:30] #3320 closed

[2020-02-18 18:17] jonasfj opened #3343 "Migrate away from using package:pub_server"
We should stop using `package:pub_server` it's being discontinued, and we have a decent http_router in this project now.

Note, when doing this migration I suggest we test with:
 * Latest dart 1.x
 * Dart 2.0.0
 * Dart 2.7.1
 * Latest Dart dev release.

To ensure that this is compatible with existing Dart releases.

Generally, we don't do much to support Dart 1.x users, as there is few left, but t

[2020-02-18 18:23] isoos commented on #3343
An alternative to consider: release a `pub_server` with a new API that follows our current http router model?

[2020-02-18 22:36] kevmoo opened #3344 "Deleting a package version should rerun analysis"
URL: https://pub.dev/packages/analyzer#-analysis-tab-

v2 of `package_config` was deleted, but there are still ghosts of it around.

See pkg:analyzer, for instance.

![Screen Shot 2020-02-18 at 2 35 13 PM](https://user-images.githubusercontent.com/17034/74784077-f7bbc100-525b-11ea-8db9-5ad5b54c271c.png)

[2020-02-19 09:55] jonasfj commented on #3328
I can't reproduce this with dartdoc locally.

[2020-02-19 10:32] jonasfj commented on #3344
We do this when a new version is uploaded, I think it's fine to do when deleting a package version too.

Though analysis with rerun within a month regardless, and it's very rare that we unpublish packages, so maybe this is not so important.

Besides, even if we do this, it'll always be a best effort re-analysis of packages that depends on a given package. Because the transitive set can be huge.

[2020-02-19 10:46] jonasfj commented on #3343
I think we should focus on [documenting the API](https://github.com/dart-lang/pub/blob/master/doc/repository-spec-v2.md) because this is useful for people using the API and people aiming to host a compatible API.

Building a reusable pub-server is a great project of the community to own. The problem with `pub_server` is that it's hard to change as fast as the community wants to move, when it's use

[2020-02-19 10:49] jonasfj commented on #3330
I haven't seen any --- but I just signed in with my personal twitter/facebook accounts and that worked fine.

I makes no sense to me why they are behind login, maybe it's a quick way to mitigate abuse who knows.

[2020-02-19 10:52] jonasfj commented on #3336
I was secretly hoping we would one day find time to do a `pub add <package>` command, and insert a thing like: `$ pub add uuid` in the top right corner...

[2020-02-19 13:04] isoos commented on #3328
Confirmed:
- current prod is on `dartdoc 0.30.0+1`, which has the broken behaviour
- this was fixed in https://github.com/dart-lang/dartdoc/pull/2125
- fix is part of `dartdoc 0.30.1`, which is now the content served on staging (and local dev)

[2020-02-19 13:04] #3328 closed

[2020-02-19 13:24] isoos commented on #3330
I think this is a rule we may want to break (temporarily, until we figure out per-package images) :)

[2020-02-19 14:03] samuelematias opened #3347 "Request to delete package from pub"
Hi @jonasfj , could you delete this package [pasquim](https://pub.dev/packages/pasquim#-readme-tab-) ?
It was uploaded by mistake.
I was learning how to upload a package, I thought I could delete it after the test, but I didn't find that option.
I am the owner of the package.
my email hi@samuelematias.com

Thanks.

[2020-02-19 16:14] isoos commented on #3343
We could extend the pub integration tests to auto-download the referenced SDKs... However, this seems to be costly to do on every PR. Maybe a one-off local integration test script that we run before a release?

[2020-02-19 22:01] abc52090241 opened #3349 "<Summarize your issues here>"
URL: https://pub.dev/packages/flutter_launcher_icons

<Describe your issue or suggestion here>

[2020-02-20 07:15] isoos commented on #3349
@abc52090241: what's the issue?

[2020-02-20 10:19] isoos commented on #3324
Closing the issue, as I don't see anything else we can add to it on the pub server side. Tracking the rest in the following issue: https://github.com/dart-lang/pub/issues/1602

[2020-02-20 10:19] #3324 closed

[2020-02-20 10:21] isoos commented on #3344
Note: an analysis can be triggered manually via the following tool:
[code]

[2020-02-20 12:33] jonasfj commented on #3347
For future reference please send such requests to support@pub.dev, see: https://pub.dev/policy

[2020-02-20 12:33] #3347 closed

[2020-02-20 14:48] jonasfj opened #3354 "Tag null-safe packages and highlight this on package page"
Exact Dart version that will be the lower bound is still TBD.

[2020-02-20 14:49] jonasfj commented on #3354
Tag will probably be `is:null-safe` shown in UI as `Supports Null-Safety`.

[2020-02-20 14:51] mit-mit commented on #3354
We should mark a package as null safe if, and only if, it satisfies all these properties (these assume we use 2.10 as the Dart versioning in which null safety is launched to stable):

  1. The SDK lower constraint is at least 2.10
  1. All direct dependencies of the package have a SDK lower constraint that is at least 2.10
  1. All indirect dependencies of the package have a SDK lower constraint t

[2020-02-20 15:27] kevmoo commented on #3344
Good to know!

On Thu, Feb 20, 2020 at 2:21 AM István Soós <notifications@github.com>
wrote:

[2020-02-20 20:06] kevmoo commented on #3330
Could/should this issue be closed out?

[2020-02-20 20:17] isoos commented on #3330
I wanted to do a verification with the next prod release, but feel free to close it.

[2020-02-20 20:18] kevmoo commented on #3330
We should have a label for "fixed but not deployed"

[2020-02-20 21:53] gaaclarke opened #3356 "Default filter should be `any` not `flutter`"
Seen result: going to pub.dev presents a search box that only searches 'flutter' packages
Expected result: going to pub.dev presents a search box that searches 'flutter' and 'dart' packages

[2020-02-20 21:56] isoos commented on #3356
@gaaclarke: the default filter is `any`. When you switch between the SDKs, we'll remember your choice in a cookie and present it next time as a default. (You can check this e.g. in a Guest mode Chrome window).

Is there something we could do better to make this mechanism easier to follow?

[2020-02-20 22:09] gaaclarke commented on #3356
Thanks @isoos.

I would forget what filter users were previously using.  http://cs doesn't remember what domain you were searching for when you come back to the page, http://google.com doesn't remember if you were filtering for image search.  The results are so similar too, it's easy to miss you were filtering by the wrong thing.

[2020-02-21 10:08] mit-mit commented on #3298
@isoos was this implemented?

[2020-02-21 10:10] jonasfj commented on #3298
Might have rolled, but we haven't backfilled examples...

[2020-02-21 10:15] isoos commented on #3298
`shared_preferences` had a recent new version, but the `example/lib/main.dart` was not picked up.

[2020-02-21 10:46] isoos commented on #3298
Apparently we have two code paths for example filename candidates:
- one in `pana` (already updated)
- one in `pkg/pub_package_reader`: https://github.com/dart-lang/pub-dev/blob/master/pkg/pub_package_reader/lib/src/file_names.dart#L21 (not yet updated)

Background: hte intent for `pub_package_reader` was to provide a better code sharing between `pana`, pub server and pub CLI client, but we never

[2020-02-24 10:55] GAyan17 commented on #3308
I would like to work on this issue. Can I just get more information on what things I have to do?

[2020-02-24 11:05] isoos commented on #3308
@GAyan17: Could you please comment here with examples and screenshots: what kind of markup would you like to support, and what they should look like?

I'm happy to point you to the right direction in the codebase, but we may need to refactor a few style names to prevent collisions, that's the reason I'm looking for all the details upfront.

[2020-02-24 14:23] sigurdm opened #3363 "Fix timeout when search is down."
We should put a bound on the time we are waiting, and just return 500.

[2020-02-24 14:31] TahaTesser opened #3364 "Package unpublish request: expanding_picker_sheet"
URL: https://pub.dev/packages/expanding_picker_sheet
please help me to remove this package.  [1193](https://github.com/dart-lang/pub-dev/issues/1193)

This was bascilly my first package from Shrine code and there is no real use of it anymore since we have opencontainer in new animations library by Flutter
Thank you

[2020-02-24 14:57] sigurdm opened #3365 "Delete users with bogus user-names"
These were created before we had correct email validation, and trip up our wipeout integration.

[2020-02-24 15:27] sigurdm commented on #3364
Please see https://pub.dev/policy.

I think it would be better to mark this package discontinued: https://dart.dev/tools/pub/publishing#discontinue.

[2020-02-24 15:27] #3364 closed

[2020-02-25 02:28] #3253 closed

[2020-02-25 10:09] #3349 closed

[2020-02-25 10:37] jonasfj commented on #3344
Discussed this in triage, and given the low volume of package deletions, we're thinking we'll never get around to prioritize this.

[2020-02-25 10:37] #3344 closed

[2020-02-25 10:43] jonasfj commented on #3298
I'll do a backup and backfill.

[2020-02-25 11:15] isoos commented on #1905
I think this was done.

[2020-02-25 11:15] #1905 closed

[2020-02-25 11:16] #1642 closed

[2020-02-25 11:17] #1508 closed

[2020-02-25 12:12] jonasfj commented on #3356
Hmm, maybe we should reconsider this UX in the future. Especially, if others find this confusing too.

[2020-02-25 12:44] sigurdm commented on #3365
Done

[2020-02-25 12:44] #3365 closed

[2020-02-25 13:09] sigurdm opened #3370 "Display a log message when a service crashes - and track it in a metric"
This can probably be done by wrapping the service in a bash-script that prints if the service crashes.

[2020-02-25 13:12] isoos commented on #3370
Related: also check if isolate crashes are reported properly.

[2020-02-25 15:51] jonasfj opened #3372 "Unhandled FormatException for invalid querystring"
From logs:
[code]
I think we need to have our logging wrapper higher up, maybe we just reorder our middlewares.

[2020-02-25 15:54] jonasfj opened #3373 "Bad state: The transaction has already been committed."
From stderr logs:
[code]
Happens more than once in a while... maybe we have write congestion for posting session?

[2020-02-25 17:15] XinwenCheng opened #3374 "Could you provide a dark theme for web page?"
URL: https://pub.dev

As a programmer, I often work until deep night, and I will do appreciate if you guys could provide a dark theme for web pages, thanks in advance!

[2020-02-25 23:33] kevmoo opened #3375 "Block upload of packages depending on -dev Dart SDKs – unless they are prerelease"
We want to limit upload of packages that depend on unreleased features.

This logic should exist (ideally) in both the pub client and pub-dev

[code]

[2020-02-25 23:51] kevmoo commented on #3375
CC @mit-mit @munificent @jonasfj – sometimes writing out the code is easier than a paragraph of text.

I hope I captured the thought process here

Also CC @natebosch @jakemac53 – care about packages

[2020-02-26 07:16] isoos commented on #3373
`POST /api/account/session` (at least the `updateSessionHandler`) has no trivial candidate for congestion: the session entity created is top-level (has no parent entity), otherwise there is no Datastore operation involved in it (the `withTransaction` in the stack trace is not being called).

My current candidate to look into is `authenticateWithBearerToken`, or more specifically `_lookupOrCreateUs

[2020-02-26 07:25] isoos commented on #3372
Yeah, looks like these are called outside of the log wrapper:
https://github.com/dart-lang/pub-dev/blob/master/app/lib/shared/handler_helpers.dart#L74-L79

Coincidentally, #3373 has a suspected method that is also outside of that logging.

[2020-02-26 09:26] jonasfj commented on #3375
We were discussing this a bit yesterday.. In my mind the problem is that this doesn't enforce the transitive property.
**Example:** I can still publish `package:foo` version `1.0.0` which depends on `package:bar` version `1.0.0-dev`, even if `package:bar` requires Dart SDK version `2.8.0-dev`.

**Option (A)**, we could simply require that the transitive dependencies of a non-pre-release package ma

[2020-02-26 11:25] mit-mit commented on #3375
I think c) might be enough, at least initially

[2020-02-26 11:59] jonasfj opened #3378 "Improve invitation accept pages/dialogs"
When getting an invitation to become:
 * uploader of a package, or,
 * member of a publisher.
We should do a better job of explaining what the implications of accepting the invitation will be.

Notably,
 * (A) accepting an uploader invitation means:
     * your email will be publicly listed on the package page,
     * you will be able to publish new versions of said package, and,
     * perform ad

[2020-02-26 14:21] GAyan17 commented on #3308
I inspired my markup from slate docs only. There way is good and simple. I think we can use yellow for notices and red as usual for warning and maybe we can bold the warnings. Suggestions and guidance is most welcome.
![Screenshot from 2020-02-26 11-46-45](https://user-images.githubusercontent.com/43421120/75353314-36dbb900-58d1-11ea-9edd-a67e67b5e973.png)
![Screenshot from 2020-02-26 11-47-08](ht

[2020-02-26 15:51] jonasfj commented on #3308
I'm sure there is something useful in https://material.io/, maybe card or icon + elevation... there is probably something to look around for.

[2020-02-26 16:07] isoos commented on #3308
@GAyan17: Also keep in mind that while new features are welcome, we'd like to be as close to the standard(s) as possible, and potentially using features from markdown-native format(s) or well established practices. E.g. your original link mentioned `<aside class="notice">...</aside>` as a markup, which seems to be more natural choice for this than `<dl><dt>...`.

[2020-02-26 16:18] jakemac53 commented on #3375
I am curious how common it is today for a package to be violating option b? That is the most desirable option in terms of correctness imo. It is a pretty strong stance to take though.

Option c would still be an improvement but unfortunately we have seen in the past that people will just ignore warnings.

We could also consider making the way warnings work be a bit more difficult to bypass. For in

[2020-02-26 16:36] gaaclarke commented on #3308
Design tip, don't use fully saturated colors.  Here is a material color picker: https://material.io/design/color/the-color-system.html#tools-for-picking-colors

Here is a typography tool too: https://material.io/design/typography/the-type-system.html#

[2020-02-26 17:21] kevmoo commented on #3375
I like the idea of requiring a `--force` – although then folks get used to
just running pub with --force

We could also require confirmation via keyboard either way...

On Wed, Feb 26, 2020 at 8:18 AM Jacob MacDonald <notifications@github.com>
wrote:

[2020-02-27 12:07] jonasfj commented on #3375
@jakemac53,

I did some analysis (quick so it's possible there is bugs):

If we consider all versions:
 * 1798   package versions has pre-release deps and is NOT a pre-release
 * 15721 package versions has pre-release SDK dep and is NOT a pre-release.

If only consider latest version the numbers are:
 * 193   package versions has pre-release deps and is NOT a pre-release
 * 1828 package versions h

[2020-02-27 14:57] jonasfj opened #3381 "Manage invite/remove uploader from package admin tab"
This is only relevant for packages that doesn't have a publisher.

If we implement this we can remove the `pub uploader` CLI command.

This also reduces the API surface between `pub` and `pub.dev`, this is as it makes it more feasible to implement 3rd party pub servers. The simpler the API the better. One could easily imagine a different pub server having a vastly different way to manager user per

[2020-02-27 21:52] jonasfj opened #3384 "Consider featuring platform tags for macos, etc. with a labs icon"
We currently have tags for `android | ios | web`:
![p5o03EsnLpZ](https://user-images.githubusercontent.com/149732/75490058-b5108c00-59b3-11ea-8a05-ca89333bcbd5.png)

 It would be nice to add `macos` and then maybe left it be followed by a flask / labs icon, indicating that this is still an alpha technology.
https://fontawesome.com/icons/flask?style=solid

[2020-02-27 21:56] stuartmorgan commented on #3384
Given that people are also using the Linux and Windows technical previews, it would be nice to include Windows and Linux now as well even though plugins shouldn't be published with Windows or Linux support yet, so that people can easily distinguish between packages (which will work) and plugins (which won't)

[2020-02-27 22:45] collinjackson opened #3385 "Can we make 1.0 releases of packages non-breaking?"
Flutter packages have a special update to 1.0 when they reach API stability. This doesn't actually need to be a breaking change, but the version solver treats it as one, leading to conflicts at the worst possible time - when a package is just achieving popularity. As a result, the incentives for developers to stabilize their APIs is low.

If we could teach the constraint solver to be aware that 1.

[2020-02-28 07:15] sigurdm commented on #3381
Only question is if there are people adding uploaders programatically.
I guess that is fairly rare though.

[2020-02-28 07:29] isoos commented on #3381
The add operation is not immediate, we are sending out an invite, which must be clicked. I don't see it happening too often. I can imagine that if you decide to hand over all of your package development to somebody else, this could come handy, but otherwise it is not a common use case, but for that, maybe publishers are a better answer.

Nevertheless, we'll still have the API endpoint (the current

[2020-02-28 08:32] jonasfj commented on #3384
Okay, maybe we need to ask our designer for help here.. maybe we can incorporate it in the new design..

Conceptually, I imagine something like:

![piKmtzeHPeO](https://user-images.githubusercontent.com/149732/75523819-0ac55280-5a0d-11ea-9dd7-e69715f0e4a9.png)

(or maybe the icon is after the tags, and is raised a little)

[2020-02-28 08:39] isoos commented on #3384
We should also consider how it would look if/when we add 2-3 more platform labels there.

I'm not sure about the icon though: do we really need to communicate the status of a platform support? We won't track their development in Flutter closely, but developers using them would, and they will be able to infer if it is useful for them or not.

[2020-02-28 09:50] GAyan17 commented on #3308
@isoos I will keep that in mind. I made some changes in the markup, if anything more to be done, tell me please.
![Screenshot from 2020-02-28 07-16-26](https://user-images.githubusercontent.com/43421120/75537906-cb632a00-5a3d-11ea-88a6-8de11d366527.png)
![Screenshot from 2020-02-28 07-16-36](https://user-images.githubusercontent.com/43421120/75537911-cc945700-5a3d-11ea-8374-c4362079455e.png)

[2020-02-28 10:01] sigurdm commented on #3308
I don't think we will implement this for now.

It seems a little arbitrary in choice of allowed markup.

[2020-02-28 10:01] #3308 closed

[2020-02-28 23:47] jonasfj commented on #3385
The straw proposal here is to essentially allow a package version to satisfy multiple version constraints.

This could also be expressed by simply listing multiple additional compatible versions in the `pubspec.yaml`. Interesting, but perhaps a bit scary too.

--------

But traditionally this solved differently. Consumers of the package should not write `^1.0.0` instead they should be directed to

[2020-02-29 00:12] collinjackson commented on #3385
It seems like this is equivalent to pub just prohibiting publishing of pre-1.0 plugins. What is the point of publishing a pre-1.0 package on pub if you don't want other package to use it? Packages on pub aren't usable in the abstract, they need some sort of program to depend on them.

Why is it a problem to make 1.0 special? We already treat 0.x plugins as special.

[2020-02-29 09:05] Hexer10 opened #3389 "Extension static members detected as not used"
Hi,
In my package I'm using several static variables in extensions, which are used in the code, although pub.dev hints that they are not. (This only happens with extensions static members)
Indeed running in local `pana youtube_explode_dart` shows no health hint:
[code]
but on pub.dev they are present
![image](https://user-images.githubusercontent.com/21113203/75604578-880ac900-5ada-11ea-8aaa-1dce2

[2020-02-29 16:16] devoncarew opened #3390 "Make package tabs links cleaner"
Currently the package sub-tabs (readme, changelog, installing, versions) have links like:
- https://pub.dev/packages/test#-readme-tab-
- https://pub.dev/packages/test#-changelog-tab-
- https://pub.dev/packages/test#-installing-tab-
- https://pub.dev/packages/test/versions#-versions-tab-

It would be nice to make the urls for direct links to these tabs slightly cleaner (this is nice when embedding

[2020-02-29 18:15] isoos commented on #3390
@devoncarew: our long-term (low-priority) plan is to separate the package tabs into their own pages: `[...]/changelog`, `[...]/example`, `[...]/installing` should be their own page, and then referencing to a specific in-page anchor would be much better.

Using the suggested simpler names would conflict with the typical anchors in the `README.md`. E.g. if you have a section `## Installing` in the r

[2020-02-29 18:20] isoos commented on #3385
I'm not sure if I follow this: what treats 0.x plugins as special?

There may be, we can't know for sure just looking at the version number. I think it is better if a developer of a package makes a conscious and explicit decision on what is supported and what should work with the current release. Anything else seems to be a guesswork, which may be working in 95% of the cases, but then it would giv

[2020-02-29 18:30] collinjackson commented on #3385
See https://dart.dev/tools/pub/versioning#semantic-versions

The goal of this proposal is to give the developer of a package the opportunity to indicate whether their 1.0 promotion is breaking. The need for this is a consequence of the Dart community convention to apply semver to pre-1.0 versions, making the 1.0 release a special switch from Dart conventions to traditional semver.

Another potenti

[2020-02-29 18:36] devoncarew commented on #3390
Gotcha; the overall feature request is for cleaner urls - having pages for each (`.../installing`) would do that.

If that refactor is going to be a while, you might consider handling the newer form and redirecting to the anchor form.

[2020-02-29 18:38] devoncarew opened #3391 "The installing page for package:test gives inaccurate guidance for use of the pubspec"
The installing page for package:test:

https://pub.dev/packages/test#-installing-tab-

gives inaccurate guidance for how to add support for it to the pubspec.yaml file. It says:

[code]

It should instead recommend adding it to a (likely new to the user's pubspec) `dev_dependencies` section.

If recommending `dev_dependencies` in this page is hard to generalize, it would worth special casing `pack

[2020-03-01 06:37] singhteekam opened #3392 "ternary condition is incorrect when using age package in flutter.Please correct it as:"
URL: https://pub.dev/packages/age#-readme-tab-

DateTime nextBirthdayDate != tempDate.isBefore(today)
      ? Age.add(date: tempDate, duration: AgeDuration(years: 1))
      : tempDate;

[2020-03-01 06:48] #3392 closed

[2020-03-02 07:09] isoos commented on #3391
@devoncarew Thanks for reporting that. Closing as it is duplicate of #2125.

[2020-03-02 07:10] #3391 closed

[2020-03-02 07:21] isoos commented on #3389
@Hexer10: thanks for reporting this. My local `pana` exposed the same hints as on the pub site, there may be some difference in our setup:
- What is the SDK version you are using? (pub.dev is using the 2.7.1 stable)
- Could you please include the full output of running `pana`?

[2020-03-02 16:47] devoncarew commented on #2125
Can we bump the priority of this issue? We're likely going to reference the installing page for package:test from tooling and docs, and it currently provides incorrect guidence.

https://pub.dev/packages/test#-installing-tab-

Even one-off handling pf package:test would be a useful workaround (if a general purpose solution isn't feasible in the near term).

[2020-03-02 17:45] isoos commented on #2125
@devoncarew: I've submitted #3397 to simply change the `dependencies` to `dev_dependencies` in the case of `package:test`. Is there any other urgent part to be fixed?

[2020-03-02 17:58] devoncarew commented on #2125
Nope, that's it; thanks!

[2020-03-02 23:32] jonasfj commented on #3385
This is where version ranges like `>=0.42.0 <2.0.0` becomes useful. Now you can be first mover (in adapting 1.0.0) without becoming incompatible with the herd.

As long as you know that there is no breaking change in `1.0.0`. This should be advertised in CHANGELOG and README, ideally along with the suggestion to use version ranges for maximum compatibility.

Note. Version ranges spanning multiple

[2020-03-03 06:36] isoos commented on #3330
Verified:
- twitter validator is now good with the page
- facebook debug tool only has `fb:app_id` missing.

[2020-03-03 06:36] #3330 closed

[2020-03-03 11:27] isoos opened #3398 "Improve e-mail validation"
In the logs:

[code]

[2020-03-03 12:07] Hexer10 commented on #3389
I've tried both with dart 2.7.1 and dart 2.8.0-dev.10.10, here there are both outputs:
2.7.1: https://pastebin.com/raw/E09SenFC
2.8.0: https://pastebin.com/raw/EZJ4E3VV

[2020-03-03 13:17] isoos commented on #3389
@Hexer10: thanks for the outputs. I see that you are using Windows, which may be a key difference here (maybe we have a Windows path-related bug somewhere). Could you please do another round of testing, replicating the things I'm doing here:

[code]

I'm mostly interested in the output of the last command, if you have similar output for the preceding ones, feel free to omit that.

[2020-03-03 14:15] orteney opened #3401 "Flutter Favorites broken page navigator"
URL: https://pub.dev/flutter/favorites

1. Open https://pub.dev/flutter/favorites
2. Click on "2" at the bottom of page

**Expect**: navigation to https://pub.dev/flutter/favorites?page=2

**Actual**: navigation to https://pub.dev/packages?page=2

[2020-03-03 14:23] #3398 closed

[2020-03-03 14:26] Hexer10 commented on #3389
The last command indeed reported the hints on dart 2.7.1:
[code]
whereas on dart 2.8.0 didn't

[2020-03-03 14:58] jonasfj opened #3403 "Allow customization of the "install" tab"
We should render `INSTALL.md` on the "install" tab, if the package contains an `INSTALL.md` file.
(motivated by https://github.com/dart-lang/pub-dev/issues/2125)

This allows packages with external dependencies to specify how they are installed. Imagine packages using `dart:ffi`, it also allows packages that can be globally activated to indicate that this is how they should be used. And it allows

[2020-03-03 15:11] #3401 closed

[2020-03-03 15:18] isoos commented on #3389
@Hexer10: thanks, that is really helpful. We have clearly an issue with the Windows' path-separator, which needs to be fixed in `pana` or in `dartanalyzer` - I'm not sure why it emits double `\`.

Wrt. 2.8.0: it seems that your lints will be fixed in the next SDK release.

[2020-03-03 15:21] jonasfj commented on #3385
@jakemac53, @natebosch, any thoughts?

[2020-03-03 16:16] kevmoo commented on #3403
Not a bad idea!

I pondered if we should have a field or fields in the pubspec for this. But maybe just an MD file is better.

[2020-03-03 16:26] natebosch commented on #3385
I think this would be more cost than it's worth. The value it provides is limited - it is useful at a single point in a package lifecycle, and the value is diminished the fewer _published_ packages exist that depend on a package using this features. I think most packages have few dependents. The cost would be high - this is somewhat complex to implement and very complex to document and try to conv

[2020-03-04 21:09] jonasfj opened #3408 "Regression email validation too strict"
Monitoring deployment during gradual traffic migration I noticed one user unable to sign-in as we tightened the email validation pattern too much. From what I can see we only have one user affected. Traffic has been migrated back -- it was never more than 5% :)

Maybe we need to improve the validation pattern.. or fallback to the old pattern and somehow encode charaters correctly when sending emai

[2020-03-05 07:36] isoos commented on #3408
Enabling the missing `-` character in the RegExp is not hard: `r'^\S+@[\w\-]+(\.[\w\-]+)+$'`.
However, it makes me wonder if we should search for characters that are known to be not allowed in the domain part?

[2020-03-06 18:24] hawkinsjb1 opened #3413 "[Request]: Add support for interactive flutter code to package page"
With the maturity of flutter-web, I think it would be totally possible and very useful for package pages to offer interactive examples of their widgets. Probably not the easiest or most important feature, but it would be very beneficial to devs and also show off the cross-platformability of Flutter.

[2020-03-09 16:19] #3408 closed

[2020-03-09 16:25] isoos commented on #3373
New stacktraces after the updated logging:

[code]

console-only exception right before:

[code]

[2020-03-09 20:07] jonasfj opened #3419 "Possible regression -- Unable to read entry"
[code]

[2020-03-09 20:08] jonasfj commented on #3419
@isoos, I think this is a possible regression.

[2020-03-09 20:47] isoos commented on #3419
I think this is more of a temporary issue (504: gateway timeout). The dartdoc files being generated, uploaded (+ old ones deleted) may hit the rate limit.

[2020-03-09 22:34] collinjackson commented on #3385
I would argue that it has value over a long period of time; without this change, popular packages like package:http could get stuck forever pre-1.0 because of the work involved in releasing a 1.0 version. This makes it harder for dependent package authors to know whether the maintainer wants to allow dependent packages.

I agree -- but some have a lot. Making 1.0 updates smoother would make it mor

[2020-03-10 07:05] necatisozer opened #3420 "I cannot navigate to the 2nd page of Flutter Favorites"
URL: https://pub.dev/flutter/favorites

When I press 2nd page or sorting options, it navigates to https://pub.dev/packages?page=2

[2020-03-10 07:25] isoos commented on #3420
@necatisozer thanks for reporting! The fix was done in the code, we are in the process of deploying the new version that has it. (duplicate of #3401)

[2020-03-10 07:25] #3420 closed

[2020-03-10 08:02] isoos commented on #3385
I don't see it that way. `http` could release `1.0.0` without any issue. Packages using `http` may not update immediately, but eventually most packages will update. If it happens to be API-compatible, then the clients of the libraries don't really care which version they are on.

Even a second-level dependency conflict is something that is manageable:
- `A 1.0.0` depends on `http: ^0.12.0`
- `A 1.

[2020-03-10 08:25] amirh commented on #3385
I agree these situations can be fixed by the app developer (C) adding dependency_overrides, but at this point it may become too painful for app developers (they get an obscure error rooted in a transitive dependencies they don't know about, and they need to figure out they can use dependency_overrides, which I believe is not very well known).

Another player in this game is Flutter, which unfortun

[2020-03-10 09:41] jonasfj commented on #3413
Yes, support for embedding dartpad would be pretty neat :)

[2020-03-10 09:43] jonasfj commented on #3413
/CC @domesticmouse

[2020-03-10 09:50] jonasfj commented on #3403
@sigurdm suggest we could also remove the install tab.

[2020-03-10 09:59] jonasfj commented on #3384
@mit-mit, thoughts?

[2020-03-10 10:02] jonasfj commented on #3374
We keep coming back to this idea, but we're currently updating the design.. maybe after that we'll consider doing a Dark theme.

[2020-03-10 10:02] #3374 closed

[2020-03-10 10:07] jonasfj commented on #3282
I think we are planning to overhaul popularity metrics so that they are more absolute numbers.. It's not clear exactly when or how we get there yet.

With absolute numbers  I don't think special casing CLI utilities is as pressing a concern.

[2020-03-10 10:07] #3282 closed

[2020-03-10 10:09] jonasfj commented on #3277
It's not clear this is a bug in pub.dev

[2020-03-10 10:09] #3277 closed

[2020-03-10 10:10] jonasfj commented on #3276
I think this is outside the scope of pub.dev, at-least for now :)

[2020-03-10 10:10] #3276 closed

[2020-03-10 10:11] #3266 closed

[2020-03-10 10:20] domesticmouse commented on #3413
/cc @RedBrogdon 😎

[2020-03-10 11:01] cbenhagen opened #3422 "Flutter Favorite icon is blurry on HiDPI screens"
<img width="645" alt="Screenshot 2020-03-10 at 11 59 14" src="https://user-images.githubusercontent.com/814785/76306169-b3559b00-62c6-11ea-8dd0-6935f0932374.png">

Either an svg version or a bigger resolution image which is downscaled would fix this.

[2020-03-10 11:29] sigurdm commented on #3385
@jonasfj and I discussed this a bit.
The problem is real.
But none of us are happy in meddling with the idea that a package has a single semver version number.

Instead we could consider the idea of a 'stability-bit' you can set on a package.
This bit indicates that the package (at its newest version) is considered ready for use in production.

That would free the version number to indicate breaki

[2020-03-10 13:18] mit-mit commented on #3384
My initial thoughts are to not use an icon, but rather a url-parameter to turn on the display of these while desktop support is still in alpha.

[2020-03-10 14:00] isoos commented on #3422
@cbenhagen thanks for reporting. We are working on a new design which has this fixed:

<img width="346" alt="Screen Shot 2020-03-10 at 14 59 16" src="https://user-images.githubusercontent.com/4778111/76319647-cf196b00-62df-11ea-9ac0-233139368940.png">

I'm not sure if we'll put in effort fixing it in the current design...

[2020-03-10 14:00] #3422 closed

[2020-03-10 15:42] papalardo commented on #1211
I change this files

pubspec.yaml -> connectivity: 0.4.4+1
Podfile -> platform :ios, '9.0'

[code]

[2020-03-10 20:48] RedBrogdon commented on #3413
This is a long-standing feature request for DartPad which the team hasn't had time to design and implement:

https://github.com/dart-lang/dart-pad/issues/901

We're hoping to go after it later this year, though it's unlikely we'll be able to implement a solution that includes all the packages available on pub.

[2020-03-11 17:53] hawkinsjb1 commented on #3413
@RedBrogdon If you leave it up to the package publisher to write their own examples then you wouldn't have to worry about 'supporting all the packages' right?

[2020-03-11 18:21] RedBrogdon commented on #3413
Each example would still need to be able to import the package for which it's the example, which is something DartPad's backend compilation and analysis server isn't able to handle right now.

It's not capable of running `pub get` for each individual request, in other words, in order to solve versions, download things to the pub cache, and so on.

[2020-03-11 21:03] natebosch commented on #3375
😈

[code]

Folks who want to keep pushing with a set of known warnings could do so, but it would not be easy to do accidentally across different packages or for new warnings etc.

[2020-03-12 09:06] jonasfj commented on #3375
hehe, I like the idea it -- but making warnings harder to ignore is perhaps orthogonal.

--------
On topic, @kevmoo, are you happy with option (C), a warning?

[2020-03-12 09:53] jonasfj commented on #3375
Also, how do people think about warning about dependency on a pre-release of package from a non-pre-release version.

Specifically, do we only want to warn for SDK constraints, following logic in (B) we should make it transitive.

[2020-03-12 13:21] mit-mit commented on #3298
@jonasfj what's the status of this?

[2020-03-12 15:30] kevmoo commented on #3375
Yes, (C) is great!

[2020-03-12 16:36] natebosch commented on #3375
I'd be happy with starting as a warning and either escalating to error, or making warning harder to ignore.

[2020-03-12 16:39] kevmoo commented on #3375
I agree in principal, but just a few packages "leaking" into the pub site can cause us a lot of problems.

[2020-03-13 10:23] isoos opened #3427 "Fix /api/packages/<package>/versions/<version>.tar.gz"
This seems to be an unused API call, because it is not working for a while now. The api generator parses the version pattern to include the `.tar.gz` postfix in the `version`, making version pattern check to fail.

We should:
- fix the API generator
- maybe remove this API if we are not going to use it?

[2020-03-14 06:12] Tokenyet commented on #3037
I can't figure out where is the bug on this issue, here is my enviroment and report:

[code]

[code]

This is not the first time to publish, but It has been two months for the previous publish. The errors display the same no matter creadentials.json is existed or not, the only difference is OAuth login, and nothing changed.

[2020-03-14 08:52] isoos commented on #3037
Yeah, looks like it failed for some reason, and the uploaded archive was an empty file on server upload. Not sure why, maybe the `@` in the filenames (should be fine normally, but I have no idea what happens with them on Windows).

[2020-03-14 15:14] jonasfj commented on #3427
Ah, we never hit:
https://github.com/dart-lang/pub-dev/blob/master/app/lib/frontend/handlers/pubapi.dart#L50-L52

because we always match this first:
https://github.com/dart-lang/pub-dev/blob/master/app/lib/frontend/handlers/pubapi.dart#L40-L46

In practice it doesn't matter... but, well, maybe it matters a little :) hehe

I think we should write this as:
[code]

Checkout: https://pub.dev/document

[2020-03-15 15:05] jonasfj opened #3430 "Exception: Couldn't find a pubspec.yaml in /."
The problem seems to be `firebase_document_repository` version 0.0.1, from logs found using error reporting:
[code]

[2020-03-16 07:30] isoos opened #3431 "Handle http client connection errors better"
- Original discussion: https://github.com/dart-lang/pub-dev/pull/3426#discussion_r392596407
- [ ] handle error on idle/closed connections
- [ ] preemptively change `http.Client` after certain amount of use

[2020-03-16 07:31] #3363 closed

[2020-03-16 10:23] jonasfj commented on #3298
@mit-mit, I filed: https://github.com/dart-lang/site-www/pull/2306 to update docs..

[2020-03-16 10:48] #3378 closed

[2020-03-16 11:19] sigurdm commented on #3430
There seems to be a file: import in lib/core/external_repository.dart that chokes up our path resolution.
[code]

[2020-03-16 11:21] jonasfj commented on #3298
Started backfill process..

[2020-03-16 15:06] MobiliteDev opened #3435 "Removing package from pub-dev"
Could you please remove : https://pub.dev/packages/pnv_zebra_data_wedge

Thanks.

[2020-03-16 21:01] kevmoo commented on #3385
Agreed w/ @sigmundch and @jonasfj – WE should not mess w/ the semantics of semver!

My only add-on. This bit should only be available to pre-v1 packages. I'd argue we still want a world where v1+ is considered stable!

[2020-03-16 21:10] kevmoo commented on #3331
Re Remove package name from the beginning of the README.md (#3238)

Instead/also – consider it a style lint (small point drop) to include the title in the readme. It's gratuitous in all contexts (source repo, pub site, etc)

[2020-03-16 21:11] kevmoo commented on #3331
Ditto for "changelog" at the top of the changelog – do a small point drop for this! Encourage standard format!

[2020-03-16 21:20] jonasfj commented on #3385
Yeah, it might also be weird to add a stability bit.. one could make the argument that if we want versioning and stability to be separate then don't use semver. And if we want to change stability without breaking API, don't use semver.

I'm curious how the 1.0.0 migration goes, if it's not too bad -- maybe having the version be breaking is fine. Every other solution makes things more complicated.

[2020-03-17 08:27] jonasfj commented on #3298
Done.

[2020-03-17 08:27] #3298 closed

[2020-03-17 10:26] jonasfj commented on #3435
Please refer to https://pub.dev/policy and send the request to `support@pub.dev`.

[2020-03-17 10:26] #3435 closed

[2020-03-17 10:34] #3427 closed

[2020-03-17 11:18] jonasfj commented on #3375
Really? I mean packages that depend on a pre-release SDK like `2.10-dev` will get low score AND cannot be installed from a `2.7` SDK. It's only a problem when a stable `2.10` SDK is released.
And it's only a problem if the semantics between `2.10-dev` and `2.10` changed so much that the package in question is affected. And the package in question haven't been published in a newer version that work

[2020-03-17 12:57] #3430 closed

[2020-03-17 18:08] zoechi opened #3439 "Versions tab on pub.dev does not seem to work"
When I click the versions tab, nothing happens.
I tried on various packages. For example https://pub.dev/packages/msgpack2

[2020-03-17 18:11] isoos commented on #3439
@zoechi: could you please share more details about your setup? OS, browser, plugins...
Is there a console message in your browser that indicates an error?

[2020-03-18 08:37] jonasfj commented on #3009
Following discussion on https://github.com/dart-lang/pub-dev/issues/3189 I'm not convinced this is a good solution.

[2020-03-18 08:37] #3009 closed

[2020-03-18 10:31] #3375 closed

[2020-03-18 11:47] zoechi commented on #3439
Firefox 86.5 Linux
Chromium 80.0.3987.132
No console output
Same behavior in both.
The only installed plugin is Bitwarden.

What I found is that in source view there is
[code]

and when I click on that link it switches to the versions tab.

It's weird that this navigation does not happen when I click in the rendered view.

When I mouse-over I see the light-grey horizontal bar from the tab componen

[2020-03-18 11:57] isoos commented on #3439
@zoechi: thanks for the details. Could you please also take a look on the Network tab if/what kind of requests were blocked?

[2020-03-18 12:24] jonasfj opened #3440 "Migrate away from package:uuid"
The readme says:

See: https://pub.dev/packages/uuid

I suggest we don't use it, it's just too risky -- let's move to `ulid` whenever possible. And when doing so verify if we rely on randomness. I was looking at using `package:uuid` for locking, but don't trust it.

[2020-03-18 20:22] long1eu commented on #3193
any workarounds?

[2020-03-18 22:29] kevmoo commented on #3440
https://github.com/dart-lang/pub/blob/8f21b1f56dd879c85f05df1125ec9bbe7c82cc9e/lib/src/utils.dart#L524-L545

There are even tests!

https://github.com/dart-lang/pub/blob/429a06039d185149f387a65e3503b0693ce6d24e/test/utils_test.dart#L106-L126

[2020-03-19 19:32] zoechi commented on #3439
www.googletagmanager.com and adservice.google.com are failing (because of my DNS setting)

[2020-03-20 07:38] isoos commented on #3439
I have a theory of what's happening:
- Normal browser without plugins and DNS blocking works.
- Use with ad-blocker plugins works, because they both block googletagmanager.com and our `gtag.js` script.
- @zoechi's setup of DNS blocking is broken because googletagmanager.com is blocked, but out `gtag.js` is running, and the onclick event does not receive the callback here:
  https://github.com/dart

[2020-03-20 14:58] isoos commented on #3440
Our atom feed uses a v5 (namespace + seed) UUID to preserve a consistent ID for the feed readers. I think instead of that we could use the SHA hash (of the `'$package/$version'`) as the ID going forward.

The rest of our uses are just "random strings". I don't particularly care about the version-identifier bits properly set for a random UUID, so `ulid` or any random string would be fine.

[2020-03-23 10:21] #3439 closed

[2020-03-23 13:23] lesnitsky opened #3449 "Pub allows empty license file"
If LICENSE doesn't exist pub shows
[code]
and it treats empty LICENSE file as a valid license
If the intent is to prevent unlicensed packages to be published – this should be also an error

Validating license is something hard to implement, b.c. there are no strict rules, so maybe it makes sense to drop LICENSE missing requirement and suggest to generate MIT/BSD license instead?

[2020-03-23 13:32] sigurdm commented on #3449
This is indeed not an easy area.

We can only do so much.

But demanding a LICENSE file at least makes it clear that we expect packages to declare their license, and I think it leads to many more packages having a valid license: People see the validation error, and actually choses the terms they like.

If the file contains nonsensical (or even no) text, the licensing terms are left unclear - not m

[2020-03-23 15:37] sigurdm opened #3450 "Investigate memory usage of front-end"

[2020-03-23 16:19] jonasfj opened #3451 "fix datastore integrity"
Cleanup dirty data, this stuff probably got left-over from a time when we were missing something in package removal. We should write a one off script and clean it up.
[code]

[2020-03-24 02:19] jamesderlin opened #3452 "Search field steals focus too aggressively"
When I visit pub.dev, the "Search packages" field takes focus, preventing me from scrolling the page with PgDn or Space on Firefox.

This is particularly annoying when I'm browsing through search results on pub.dev since every time I navigate to the next page of search results, the Search field steals focus, and I must remember to switch to a mouse or to tab away from the Search box to scroll thro

[2020-03-24 14:21] zoechi commented on #3439
Should this be live already?
I can still reproduce.

[2020-03-24 14:24] isoos commented on #3439
@zoechi: this will be deployed later.

[2020-03-24 17:53] jonasfj opened #3457 "Tried calling: any(Closure: (CodeProblem) => bool)"
Production error in analyzer version `20200324t171808-all`.

**stack trace** from logs:
[code]

[2020-03-24 17:54] jonasfj commented on #3457
So far all errors are related to `built_redux` version `7.5.10`.

[2020-03-26 02:49] yuqieang19841028 opened #3461 "<Summarize your issues here>"
URL: https://pub.dev/packages

<Describe your issue or suggestion here>

[2020-03-26 08:59] jonasfj opened #3462 "timeout in search"
From logs:
[code]

[2020-03-26 15:11] #3452 closed

[2020-03-26 19:50] zoechi commented on #3439
Ok, it's working now. Thanks!

[2020-03-28 21:37] stuartmorgan opened #3467 "Packages can be published with git: dependencies"
The package https://pub.dev/packages/file_access has, as of the current published version at least, [a `git:` dependency in its `pubspec.yaml`](https://github.com/rodydavis/file_access/blob/6605c704d88e723cde14b39d920910001624b50e/pubspec.yaml#L15). Issues:
- It's not part of the archive. If that git repository went away, all users of all versions of this package would be retroactively broken AFAI

[2020-03-29 18:24] Arian-Rahman opened #3468 ""flutter packages get" is not getting any dependencies ."
"flutter packages get" is not getting any dependencies . It's stuck in a loop and shows this error message after a while

              C:\src\flutter\bin\flutter.bat --no-color packages get
              Running "flutter pub get" in flash_chat...

              OS Error: The semaphore timeout period has expired.
             , errno = 121, address = storage.googleapis.com, port = 62741

[2020-03-30 05:54] isoos commented on #3467
@stuartmorgan: thanks for reporting.

I thought that we have blocked the upload of packages with git dependencies, but apparently we are missing something. For our own reference here are the pointers for pub and pana that should be handling this:
- https://github.com/dart-lang/pub-dev/blob/master/pkg/pub_package_reader/lib/pub_package_reader.dart#L240-L246
- https://github.com/dart-lang/pana/blob/

[2020-03-30 08:17] isoos commented on #3467
@stuartmorgan: while the package's git repository contains a `pubspec.yaml` that has a git dependency, the uploaded package archive has it commented out:

[code]

[2020-03-30 08:17] #3467 closed

[2020-03-30 08:29] isoos commented on #3468
@Arian-Rahman: This seems to be a network issue, is there any chance that your ISP blocks some google services? Do you have access to https://pub.dev/ ? Could you please also include the verbose log of `flutter.bat --no-color packages get -v`?

[2020-03-30 08:46] #3461 closed

[2020-03-30 11:34] Arian-Rahman commented on #3468
Q1- I don't think there is a ISP issue since I did import some other packages without any problem just about 2 days ago.

Q2-Yes i have access to pub.dev.

Q3- Here's the log

(c) 2018 Microsoft Corporation. All rights reserved.

D:\_Programmes\Android Development\Practice\flash_chat>flutter.bat --no-color packages get -v
[  +22 ms] executing: [C:\src\flutter\] git -c log.showSignature=false log -

[2020-03-30 14:12] stuartmorgan commented on #3467
Ah, I didn't think to check the archive's pubspec. Sorry for the false alarm!

[2020-03-30 14:29] isoos commented on #3468
@Arian-Rahman: in the latest log I don't see any error or timeout. It seems that the issue was temporal and it is now resolved?

[2020-03-30 15:13] Arian-Rahman commented on #3468
Usually there is no time out , it just keeps on printing "retrying 15th time in 10 seconds " sort of things , i left it there for 3 hours once .
Also , i managed to get my other 2 team members to try to import dependencies and they said they're facing the exact same thing .
Here's the "flutter pub get" log

C:\src\flutter\bin\flutter.bat --no-color packages get
Running "flutter pub get" in flash_c

[2020-03-30 15:29] isoos commented on #3468
/cc @sigurdm, @jonasfj - any idea?

[2020-03-30 18:06] jonasfj commented on #3468
@Arian-Rahman, Can you open:
 * `https://pub.dartlang.org/api/packages/retry`
 * `https://storage.googleapis.com/pub-packages/packages/retry-3.0.0.tar.gz`

Or do these fail to download, that's a quick network check. I'm guessing you might have trouble with `https://storage.googleapis.com/pub-packages/packages/retry-3.0.0.tar.gz`

[2020-03-31 08:52] bsoykal opened #3474 "Removing / moderating uploaded package"
Please read https://pub.dev/policy and send requests to support@pub.dev

Hi guys,

could you please delete only version 0.0.8, I also sent a mail to support@pub.dev about the issue.

plugin => https://pub.dev/packages/netmera_flutter_sdk/versions/0.0.8

Thanks

Burak

[2020-03-31 14:09] #3474 closed

[2020-03-31 14:11] jonasfj opened #3479 "Create admin API for removing package and package/version"
An admin API for removing a package (all version) and a package single version.

[2020-03-31 14:12] jonasfj commented on #3479
Notably, this will allow us to have integration tests.

[2020-03-31 15:27] Arian-Rahman commented on #3468
Firstly ,Thank you all for the support.
 I've found out just today It's a problem unique to Bangladesh (where i'm from) .
It started just the day i posed .
Solution : using VPN solved it

[2020-04-01 08:50] jonasfj commented on #3468
@Arian-Rahman, I'm still curious can you test the two URLs you have? And let me know if any of them work...

[2020-04-01 10:06] MuYuLi opened #3483 "Removing / moderating uploaded package"
i have a packages on pub.dev that i donot want to use it

so i want you guys help me to delete it

it named "mgpcli"

my account is "zyl1881@163.com"

thanks

[2020-04-01 10:40] msayed-net opened #3484 "Removing / moderating uploaded package"
Please remove my following plugin :
1. https://pub.dev/packages/flutter_colorful

[2020-04-02 12:18] JacksonTian opened #3486 "Can pub publish authrized with API key, Not OAuth"
- In my company, a lots of people need to publish packages to pub.dev under a verified publisher. But we can give the credential to every one, Because the people maybe leave company. We want to verify publisher with our inner portal.
- The OAuth authorize flow need user to open browser. It cause we can't integrate with pub.dev via server.

[2020-04-02 12:34] JacksonTian commented on #2950
Hope this feature can be supported.

[2020-04-02 18:49] csisanyi opened #3487 "Can not get flutter packages due to http error"
Hello,

I've been using flutter for a couple of months and everything worked well until march 26th.

 * I've tried to upgrade to flutter 1.12, but packages get failed.
 * I reverted back to the old 1.9... version, but the problem persisted.

**I have to emphasize that I'm working behind a corporate proxy**

flutter doctor -v shows no issues

When I run **flutter pub get** or **flutter packages get

[2020-04-03 09:35] zoechi opened #3488 "Poor search result"
A search for `grinder` shows lots of results
but the `grinder` package is not one of them.

As far as I remember packages that are not Dart2 compatible are not shown in search results, but I haven't found anything like that wrong with the `grinder` package.

I think packages exactly matching the search term should **always** be shown anyway.

When someone searches for an unused package name, finds

[2020-04-03 09:37] isoos commented on #3488
@zoechi: Do you recall when this happened? I'm searching for `grinder` now and I get it as a top result.

[2020-04-03 09:38] isoos commented on #3488
Oh, maybe this another case of keeping the search preferences: do you have the `Flutter` filter on? As grinder is not a flutter-compatible package, it is not listed under `Flutter`.

[2020-04-03 09:42] zoechi commented on #3488
Sorry this is my fault, this is a dup of #3356

[2020-04-03 09:42] #3488 closed

[2020-04-03 11:41] timoteosoutello commented on #3487
Same issue !

[2020-04-03 11:58] jonasfj opened #3490 "Consent flow related packages should have `Referrer-Policy: no-referrer` #2430"
`Referrer-Policy: no-referrer` ensures that the token is never sent in `Referer` header, when navigating away.. This is a good idea when the querystring contains a secret token.

Docs: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy

[2020-04-03 12:01] jonasfj opened #3491 "Set referrer-policy: no-referrer-when-downgrade"
No reason not to use `referrer-policy: no-referrer-when-downgrade` for all pages other than consent flow: https://github.com/dart-lang/pub-dev/issues/3490

See also: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Referrer-Policy

IMO, it's reasonable to external pages to get information about which page on `pub.dev` is linking to them.

[2020-04-03 14:04] jonasfj commented on #3487
@timoteosoutello are you also behind a corporate proxy?

[2020-04-03 21:35] timoteosoutello commented on #3487
Yes !

[2020-04-04 11:00] Inconnu08 commented on #3487
I'm recently facing this for the past few days. So I set up a VPN, and it works. 😶

[2020-04-04 13:39] deadsoul44 opened #3494 "Check compileSdkVersion of packages on pub.dev"
Hello,

I think pub.dev should also check compileSdkVersion of packages to calculate maintenance points. For example, I had issues with the following package and manually updating its compileSdkVersion from 27 to 29 solved the issue. But, the package does not deserve 100 maintenance and 100 health points.

https://pub.dev/packages/flutter_twitter

Decrease in points can be calculated according to

[2020-04-06 11:47] AnkitKumar0110 opened #3498 "Error in custom selection"
URL: https://pub.dev/packages/file_picker

<Describe your issue or suggestion here>

If we select custom section for the file extension and type only 'pdf' we still select any image that is .jpg

[2020-04-06 12:04] isoos commented on #3498
@AnkitKumar0110: this repository is for issues with the pub.dev site. Please use the package's issue tracker to file bugs: https://github.com/miguelpruivo/flutter_file_picker

Closing.

[2020-04-06 12:04] #3498 closed

[2020-04-06 15:01] #3490 closed

[2020-04-06 15:01] #3491 closed

[2020-04-06 15:15] #3440 closed

[2020-04-07 09:28] jonasfj opened #3500 "Sort by likes"
When searching / listing packages it should be possible to sort package by likes.

![DWOBw6Gczvn](https://user-images.githubusercontent.com/149732/78653032-d6be3680-78c2-11ea-9eb8-fe22d2964600.png)

[2020-04-07 10:22] jonasfj opened #3503 "Tagging of null-safety compliant packages on pub.dev"
A package is said to null-safety compliant if:
 * The package has opted-in by specifying a lower dart sdk bound `>= 2.10`
 * No libraries in the package opts out of the null-safety enabled language version.
 * All (non-dev) dependencies in the latest version resolvable by `pub` are fully null-safety-compliant by this definition.

This needs to be implemented in `pana` and surfaced on `pub.dev`. I

[2020-04-07 17:37] jonasfj commented on #3487
This sounds more like an issue with the proxy... are you guys behind the same proxy? (Same company)

What kind of proxy are you going through? if the proxy is doesn't blindly forward the encrypted TCP stream, then how can the certificate on `pub.dev` be a problem on your local machine?

On the server side we use automatically renewed certificates through GCP, which uses let's encrypt.

I might not

[2020-04-08 13:24] babahmed commented on #1767
God bless you brother

[2020-04-08 17:56] jonasfj opened #3506 "We share 'email address' not 'email'"
I think we should clarify the invites/consent screen which says:
crazy question

Got an invite from you for pub.

On the accept screen it says

I think we mean 'email address' :)

[2020-04-09 08:52] imtoori opened #3507 "pub.dev Awaiting analysis to complete."
- I uploaded an update of my package yesterday evening
- The analysis is still incomplete

There is a way to restart it or I have to release an update?

[2020-04-09 09:03] isoos commented on #3507
@imtoori: there was a Google cloud outage yesterday that upended some of our operations (e.g. some analysis were aborted). The package analysis scheduling will re-schedule your package for analysis, there is no need to release a new version for this. However, in cases like this, it may take a day or two. (What's the package name?)

[2020-04-09 09:05] imtoori commented on #3507
thank you @isoos
the package name is `stream_chat_flutter`
I'll close this issue and wait for the analysis to complete

[2020-04-09 09:05] #3507 closed

[2020-04-09 12:36] isoos commented on #3486
Related `pub` client issues: https://github.com/dart-lang/pub/issues/2201 and https://github.com/dart-lang/pub/issues/1381

[2020-04-11 07:23] isoos opened #3511 "dartdocs.org certificate issue"
It seems that dartdocs.org has an invalid certificate, see:
https://www.dartdocs.org/documentation/postgres/latest

Original report: https://github.com/stablekernel/postgresql-dart/issues/118

[2020-04-11 09:02] studywithlawz commented on #1767
Thanks, I resolved the Issue with GLO after downloading DNS Server Tools from your link (i selected Cloud Flare)

[2020-04-12 16:32] YazeedAlKhalaf opened #3513 "Removing / moderating uploaded package"
Please read https://pub.dev/policy and send requests to support@pub.dev
I would like my package to be removed since it is not working and no one would use it. So if you are worried about people depending on it, I have discontinued it but need it to be removed because it has no purpose! I know that is weird to say about my package but I didn't know and I was just experimenting so I hope that you ca

[2020-04-12 19:28] larryaasen opened #3514 "Score reduced by 10 points for dependency that cannot be resolved"
My package [upgrader](https://pub.dev/packages/upgrader), v 0.10.3, depends on flutter_test, which depends on xml. Currently, flutter_test must use xml 3.5.0, and cannot be used with xml 4.1.0, as is suggested on the pub.dev [analysis tab](https://pub.dev/packages/upgrader#-analysis-tab). The score is reduced by 10 points, using Flutter: 1.12.13+hotfix.8. That is not something that I can resolve.

[2020-04-12 20:42] isoos opened #3515 "Send notification if dependent package has new major version."
Related to: https://github.com/dart-lang/pana/issues/633

When a dependent package releases a new major version, it would be nice to notify its users that they could upgrade to it.

[2020-04-12 20:44] isoos commented on #3514
@larryaasen: apologies, the analysis does not yet provide helpful suggestions yet, and we don't handle all the edge cases. (Filed https://github.com/dart-lang/pana/issues/633 and https://github.com/dart-lang/pub-dev/issues/3515).

In your case, if you also support `xml 4.1.0` and there is no breaking change, you could use a version constraint in your `pubspec.yaml` like the following:

[code]

Tha

[2020-04-13 13:49] Luckey-Elijah opened #3516 "Feature requeast: Keep/save/favorite packages for quick access"
URL: https://pub.dev/

On the pub.dev site, it would be really cool if one would be able to "save" packages to an account or something similar. I understand that there is already sign in functionality for google in order to "like" the packages - but this would be more along the lines to reference a package and it's API quickly without searching for it.

[2020-04-13 18:00] isoos commented on #3516
@Luckey-Elijah: What would be the conceptual difference between this one and e.g. liking the packages and visiting `https://pub.dev/my-packages`? Would these list of packages public? What purpose would these serve?

[2020-04-13 18:24] Luckey-Elijah commented on #3516
Okay! I didn't know that the `/my-packages` page was a thing. It seems there's no difference conceptually.

But I am having difficulties logging in and liking packages.

[2020-04-13 18:25] Luckey-Elijah commented on #3516
This issue can probably be closed now since it's been addressed.

[2020-04-13 18:25] isoos commented on #3516
What's your OS / browser / plugins? Aggressive blocking of cookies may result in issues with the login.

[2020-04-13 18:31] Luckey-Elijah commented on #3516
Firefox on MacOS and running a tracking blocker and ad blocker (I can provide details of those if needed).

I navigate to the `accounts.google.com` URL and see my Google accoun as an option and select it. The "One moment please" screen launches and then I'm back at the original page and am not signed in.

I don't seem to have any issue of  login on any other sites. My cookies are only wiped manual

[2020-04-13 18:32] isoos commented on #3516
@Luckey-Elijah: please try it without the blockers. If it is working, then you may need to adjust the whitelists / block intensity settings.

[2020-04-13 18:35] Luckey-Elijah commented on #3516
Just attempted a sign in without the any extensions enabled and on a new browser session via Private window, sign in was unsuccessful.

[2020-04-13 18:39] Luckey-Elijah commented on #3516
It works on Chrome. Had to Quit the application and sign back min and works on Firefox. Likely some config on my end. Thank you!

[2020-04-13 19:16] isoos commented on #3516
Closing this for now. @Luckey-Elijah please try out the liked packages, and open a new issue if there is something else we can do to improve them.

[2020-04-13 19:16] #3516 closed

[2020-04-14 09:09] jonasfj commented on #3515
I think we should design a configurable notifications... including making current notifications configurable. And maybe consider if/when we need this when we have dependabot integration.

[2020-04-14 09:11] jonasfj commented on #3513
Please email `support@pub.dev`.

[2020-04-14 09:11] #3513 closed

[2020-04-14 09:15] jonasfj commented on #3487
We think this a proxy issue. Making HTTPS proxies work with custom certificate stores is probably hard.

[2020-04-14 09:15] #3487 closed

[2020-04-14 09:16] jonasfj commented on #3484
Send an email `support@pub.dev`

[2020-04-14 09:16] #3484 closed

[2020-04-14 09:17] jonasfj commented on #3483
Send an email `support@pub.dev`

[2020-04-14 09:17] #3483 closed

[2020-04-14 09:17] jonasfj opened #3517 "Improve template for package removal requests to say send email"
We probably have to use capslock :)

[2020-04-14 09:37] jonasfj opened #3519 "tags in package version listing API"
Let's add _package level tags_ and _package-version level tags_ to version listing API.
[code]

[2020-04-14 12:13] jonasfj commented on #3511
/cc @mit-mit who seems to have tweaked DNS for this domain not that long ago.

[2020-04-14 14:23] mit-mit commented on #3511
Sorry this failed; jonasfj is fixing

[2020-04-14 14:43] #3517 closed

[2020-04-14 14:47] YazeedAlKhalaf commented on #3513
Thanks

[2020-04-15 02:07] larryaasen commented on #3514
@isoos Thanks for the tip on the version constraint. That worked!

[2020-04-15 05:56] #3514 closed

[2020-04-15 09:40] jonasfj opened #3521 ""Exception: Failed to list tarball contents." causes 500 when publishing"
From logs:
[code]
stack trace:
[code]

Caused a 500 response, which causes the client to retry publishing, we should instead show the client a useful message.

[2020-04-15 09:42] jonasfj opened #3522 "Move tmp/ folder into private bucket"
When packages are uploaded they should be uploaded to a private bucket consisting only of these temporary files... Instead of using the `tmp/` folder.

Then we can stop deleting the files and instead use a 30 day bucket life-cycle policy.

[2020-04-16 09:43] #2117 closed

[2020-04-16 09:43] #2108 closed

[2020-04-16 10:28] jonasfj opened #3527 "Allow inline markdown syntax for publisher description"
https://pub.dev/documentation/markdown/latest/markdown/markdownToHtml.html

Has an option `inlineOnly: true`, we probably have to test exactly what it does..
Maybe we need to customize the syntaxes enabled through https://pub.dev/documentation/markdown/latest/markdown/ExtensionSet-class.html.

But if we can avoid any of the block syntaxes that would be nice.

I would also like to avoid allowing im

[2020-04-16 12:30] isoos commented on #3246
Pending issues were discussed in the last design review meeting, closing this.

[2020-04-16 12:30] #3246 closed

[2020-04-16 13:39] isoos commented on #3372
Fixed by #3524.

[2020-04-16 13:39] #3372 closed

[2020-04-17 06:01] #3506 closed

[2020-04-17 06:06] #3521 closed

[2020-04-17 09:07] #3343 closed

[2020-04-20 08:18] jonasfj commented on #3511
Fixed.

[2020-04-20 08:18] #3511 closed

[2020-04-20 09:50] jonasfj opened #3537 "Response from server: < 421 4.3.0 Temporary System Problem."
Not sure what's up here, probably the server we were sending to wasn't available, or our SMTP server was temporarily out..
Either case, I'm guessing we should catch this and resend?

I check the MX record for receiver is in place, and setup for https://support.google.com/a/answer/33915?hl=en (ie. the receivers were using gsuite).

From logs:

[code]

[2020-04-20 09:51] jonasfj commented on #3537
Note. this was reported in stackdriver error reporting.

[2020-04-20 10:18] isoos commented on #3519
@jonasfj: I think "other package level tags" only applies to the first block (under `name`), while the rest should be "other version-level tags". Is this assumption correct?

[2020-04-20 11:52] isoos commented on #3373
I think we've fixed the issue (multiple related PRs), and I don't see it anymore in the logs.

[2020-04-20 11:52] #3373 closed

[2020-04-20 12:49] jonasfj commented on #3519
Correct, I updated it. I obviously meant `package-version level tags`.

[2020-04-20 15:04] isoos commented on #3519
#3540 exposes the readily available tags, but some (e.g. the ones from analysis) are not cheaply available, as we'd need to load the related `ScoreCard` instance for getting access to those.

Some possible alternatives:
- we only load it for the `latest` version
- we only load it for the version-specific endpoint (so the package aggregate version list does not have it in full detail)
- we update t

[2020-04-21 06:05] onimeshc-iprogrammer commented on #2600
flutter pub cache repair
Resetting Git repository for assets_for_android_views 0.1.0...
Downloading _discoveryapis_commons 0.1.9...
It looks like pub.dartlang.org is having some trouble.
Pub will wait for a while before trying to connect again.
Failed to repair _discoveryapis_commons 0.1.9. Error:
SocketException: OS Error: Operation timed out, errno = 60, address = pub.dartlang.org, port = 51149

[2020-04-21 06:10] isoos commented on #2600
@onimeshc-iprogrammer: this is an old issue, already closed, and potentially unrelated to your current one. Please create a new issue, and please also include details about your setup (e.g. are you on a corporate network behind proxy?)

[2020-04-21 06:23] onimeshc-iprogrammer commented on #2600
No I am not using a corporate network proxy, and this issue has recently showed up. I have already tried all the steps and solutions mentioned on this and other sites.

This is my flutter info:
flutter doctor -v
[✓] Flutter (Channel stable, v1.12.13+hotfix.8, on Mac OS X 10.15.3 19D76, locale en-IN)
    • Flutter version 1.12.13+hotfix.8 at /Users/nilesh/Applications/flutter
    • Framework revisi

[2020-04-21 06:26] isoos commented on #2600
@onimeshc-iprogrammer: which internet provider are you using (+ country)?

[2020-04-21 06:27] onimeshc-iprogrammer commented on #2600
Local broadband internet from India

[2020-04-21 08:21] isoos commented on #2600
@onimeshc-iprogrammer: IIRC people reported similar issues (when accessing some subset of Google services) from India last week or the week before, you may want to try a different ISP / proxy to check if the issue is indeed with the internet-provider.

[2020-04-21 09:01] jonasfj commented on #3468
Closing this due to lack of response.

[2020-04-21 09:01] #3468 closed

[2020-04-21 09:08] jonasfj commented on #3449
Let's forbid cases where the LICENSE file contains only whitespace.

[2020-04-21 09:09] jonasfj commented on #3385
Closing as discussion has died out, and amirs work on large scale Dart changes looks promising.

[2020-04-21 09:09] #3385 closed

[2020-04-21 09:13] jonasfj opened #3541 "Test out using Google Cloud CDN for package downloads"
We should test out if downloading packages through Google Cloud CDN could work.

[2020-04-21 11:17] jonasfj opened #3542 "Duplicate library entries in generated dartdoc"
See docs for: https://pub.dev/packages/basics

Presumably, this is to do with exports, not sure if this only happens with recent versions of `dartdoc` or if it's a bug in our embedding.

![E1TSXQT66KC](https://user-images.githubusercontent.com/149732/79859824-e618a600-83d1-11ea-91b6-b2eec75ccc90.png)

[2020-04-21 12:15] #1726 closed

[2020-04-21 12:44] onimeshc-iprogrammer commented on #2600
Okay, I tried out some commands, out of which **curl -v https://pub.dartlang.org --resolve 'pub.dartlang.org:443:172.217.14.211'** this worked on terminal. but the URL doesn't work on browser. Is it something with the IPv4 and IPv6 issues again?
I tried with a different ISP though, same issue.

[2020-04-21 12:51] onimeshc-iprogrammer commented on #1767
Same issue here from India.
I tried [https://github.com/dart-lang/pub-dev/issues/1767#issuecomment-437531730](url) this, it works on on the terminal and only once, the other flutter commands are not working yet.

Then I also tried the command below:
$ dig pub.dartlang.org

; <<>> DiG 9.10.6 <<>> pub.dartlang.org
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR,

[2020-04-21 13:00] jonasfj opened #3544 "/help and the top-level help/getting-started menu could be better"
We link to many of the same things. We should work to clean this up.

[2020-04-21 19:07] jonasfj commented on #3519
This end-point has been deprecated.

I think this is the best option. I'm even open to making `PackageVersionInfo` runtime versioned.
Since it only reflects derived values we can make it runtimeVersioned and regenerate everything when we make a new `runtimeVersion`.

Otherwise, I think the compromise about using the value from latest runtimeVersion is acceptable.

[2020-04-22 20:06] jonasfj opened #3553 "Admin UI for add/remove uploaders"
We very rarely need admin API for adding/removing package uploaders and publisher members.
We currently do this using CLI tools, however, these have no testing and is broken from time to time.

[2020-04-22 20:11] jonasfj opened #3554 "History entries are not stored in the same transaction as the operation"
Using `app/bin/tools/uploader.dart` I noticed that history entries are not created in the same transaction as the canonical change.

Since the `pubDartlangOrgEmail` isn't a user, this script will always fail. But still partially commit the change.

If we want history to be correct, we must now assume that history may be partial and should be backfilled. I'm not sure if we want to backfill now, may

[2020-04-23 07:32] sigurdm commented on #3503
Pana now does the analysis for tagging packages: https://github.com/dart-lang/pana/commit/e38880387f4a9e56e72d7cd1d27b3b13d2116107

[2020-04-23 12:54] mit-mit opened #3557 "Block upload of packages with stable versions and pre-release lower SDK constraint"
In we https://github.com/dart-lang/pub-dev/issues/3375 discussed a number of [options](https://github.com/dart-lang/pub-dev/issues/3375#issuecomment-591326508) and decided to add warnings when uploading a stable version package with a pre-release SDK or package dependency. I'd like propose that we add a second check, and that we make this second check a hard error, not just warning:

Upload check:

[2020-04-23 12:54] mit-mit commented on #3557
cc @jonasfj @sigurdm @kevmoo @natebosch @munificent for feedback

[2020-04-23 17:23] davidwparker commented on #1561
@kevmoo - wonder why you closed this and marked as duplicate of an already closed one?

The answer provided by @isoos in the other thread is unacceptable (blaming CI).
Raw counts are used in Ruby, PHP, Rust, etc. Not sure what the harm is in providing the data.

[2020-04-23 17:31] kevmoo commented on #1561
@davidwparker that's the original issue + discussion + justification. We'd like to avoid covering the same topic many times.

[2020-04-23 18:30] kevmoo commented on #3557
SGTM. We do publish packages today w/ `-dev` SDK constraints to keep things working as `-dev` SDKs are released w/ subtle changes.

We should talk about the impacts here.

Also: are we going to restrict things on the pub server side, too?

[2020-04-24 07:18] sigurdm commented on #3557
For blocking uploads this will be a server side check. Otherwise old/fake clients could circumvent it.

[2020-04-24 07:30] mit-mit commented on #3557
For whom / for what use case do we think this is important?

I think some run CI against dev "to catch things early", but given we have no breaking change policy for dev, I wonder if we need to point developers to the new beta channel for that kind of testing.

[2020-04-24 08:46] mit-mit commented on #2865
How would you define "official" here?

[2020-04-24 10:34] jonasfj commented on #3557
When shipping a release with new language features, we often want to ship stable releases of packages compatible with said release the same time. For example, we want to ship a package using extension methods at the same time as the SDK with extension methods is shipping.

However, if we do this, we can't release the new package before the new SDK is ready. This makes the release process more lock

[2020-04-24 10:48] mit-mit commented on #778
@isoos @xster I think we can close this now that we have support for platform keys in the pubspec, and tags like here? https://pub.dev/packages/provider

[2020-04-24 10:54] #778 closed

[2020-04-24 10:57] mit-mit opened #3561 "Improved metrics: measure and report "raw" popularity/downloads"
Currently pub.dev reports an indirect popularity metric. This issue tracks a potential change to update this model to provide a concrete/raw measure of popularity by showing the actual numbers of downloads/uses of a package.

This could also include presenting the popularity over time via graphs, etc.

[2020-04-24 10:59] mit-mit commented on #3561
Sorry, this is already tracked in #2714. Closing as a duplicate.

[2020-04-24 10:59] #3561 closed

[2020-04-24 11:00] mit-mit commented on #1229
I believe we have two separate issues:

1. We don't clearly report the popularity measure for a package on list and detail pages. I'm tilting the current issue to cover that
1. We report only a very indirect popularity measure, and not the raw downloads. That is covered in #2714

[2020-04-24 11:01] mit-mit commented on #1229
@isoos assigning this to you as I believe the reporting issue is part of the current redesign.

[2020-04-24 12:48] mit-mit commented on #757
We've reconsidered this, and are looking into options for supporting this. The current tracking issue is https://github.com/dart-lang/pub-dev/issues/2714.

[2020-04-24 12:48] mit-mit commented on #1561
We've reconsidered this, and are looking into options for supporting this. The current tracking issue is https://github.com/dart-lang/pub-dev/issues/2714.

[2020-04-24 12:50] mit-mit commented on #2714
This is actively being considered. We're looking into options for how to get a representative count of downloads / `pub gets`, even for cases where the package is still in the local cache.

[2020-04-24 16:26] jakemac53 commented on #3557
I thought we had agreed to make this a warning but not an error. There are valid cases where this would unnecessarily (imo) restrict things. While there are no guarantees around stability in dev sdks it is very rare for new features to be reverted in a later dev release in my experience.

As a concrete example, consider a package which is broken by an upcoming change in the SDK. The fix requires s

[2020-04-24 22:12] bsutton commented on #2714
@mit-mit 👍

[2020-04-25 09:10] craigomac opened #3564 "[Feature Request] Adding a single colon would already improve pubspec.yaml integration flow"
This might seem ridiculous, but adding a single colon and (optionally) a "copy" button at the top beside a package name would save valuable seconds for millions of developers every day. A very common use case is to copy the package name into pubspec.yaml, but it's always fiddly because you have to go in and put the colon there, or else copy the name, tab back to the browser because you already for

[2020-04-25 16:57] isoos commented on #3564
@craigomac: thanks for the suggestion! If you don't mind, I'd close this as the duplicate of #3336.

[2020-04-25 16:57] #3564 closed

[2020-04-25 23:25] mateusfccp opened #3565 "[Feature Request] Add upload date info to public API"
I am making something similar to #2339, but it's a CLI instead of a plugin. One of the functionalities will be to state what is the latest version and when it has been released.

I have the option to scrap the page `https://pub.dev/packages/{package}/versions`, but I think it would be nice to have this info on the API instead.

[2020-04-26 05:51] JeremyChenn commented on #3486
perfect

[2020-04-26 13:05] xialonghua opened #3566 "note may be error"
https://github.com/dart-lang/pub-dev/blob/fab984fbe0d3b9f1ac092771da98496f23abce40/app/lib/shared/exceptions.dart#L110

note must be: less than?

[2020-04-27 06:19] isoos commented on #3566
@xialonghua: Thanks for reporting, I'll fix it soon... I'm curious though: how did you find it / what brought you to that part of the code?

[2020-04-27 07:10] nicovak commented on #2865
The "verified" system has been added some times ago, my issue should be closed. Official for me was a way to know If a package has been published by the Flutter Team. Now we can have the information.

[2020-04-27 07:10] #2865 closed

[2020-04-27 08:02] #3566 closed

[2020-04-27 10:43] #3500 closed

[2020-04-27 12:03] xialonghua commented on #3566
@isoos my work about flutter pub、ci and flutter development, so i was reading code to learn how pub-dev works and what custom function i can do.found this error that a coincidence ^_^

[2020-04-27 14:54] isoos commented on #3565
@mateusfccp: I think this is a reasonable information to be exposed on the API (/cc @jonasfj for a second opinion). I'm curious: what kind of tool are you building?

[2020-04-27 16:32] mateusfccp commented on #3565
Well, here where I work my Software Analyst proposed us to don't upgrade versions whenever we want, and said it would be nice to have a tool that could compare versions so we can see what is the current version of the packages and when it has been released.

The output will be something like:
[code]

[2020-04-27 16:32] mit-mit commented on #3557
We had, but I fell uneasy about this decision.

What are those (beyond the example given below)?

I think this is getting increasingly likely, and speculate it will happen soon. I see us taking a feature that's under a flag, making that available without a flag in one dev release, to then discover a major issue and put it back under a flag again. And I see us first target a feature for one languag

[2020-04-27 16:38] jonasfj commented on #3565
The stable API is in: https://github.com/dart-lang/pub/blob/master/doc/repository-spec-v2.md

The stable API does not extend beyond that, if you use anything else I strongly advice that you handle the case when such API starts returning different responses.

Published time for the latest version can be reached from: https://pub.dartlang.org/api/packages/retry/metrics

But I emphasize that this is

[2020-04-27 17:48] talamaska opened #3574 "Please fix the search algorithm for packages"
Whenever I search something on pub.dev I'm presented with too much irrelevant results
for example I search for "camera"
I'm seeing this
https://pub.dev/packages/koukicons
https://pub.dev/packages/flame
https://pub.dev/packages/permission_handler_platform_interface
https://pub.dev/packages/flutter_beautiful_popup
https://pub.dev/packages/intent
https://pub.dev/packages/font_awesome_flutter

![image

[2020-04-27 18:12] isoos commented on #3574
@talamaska: thanks for reporting this, we always thrive to provide a better search.

For the `camera` search, you'll get the package results, because:
- `package:koukicons` has a library called `camera.dart` and has a `KoukiconsCamera` class
- `package:flame` has `BaseClass.camera` which has a documentation text "Camera position; every non-HUD component is translated so that the camera position is

[2020-04-27 23:07] talamaska commented on #3574
Well, I'm sure that everybody who searches for camera doesn't mean searching for icons and Flame's camera is completely different from the phone camera. I mean choose tags from a predefined list, like native plugin or anything requiring platform channel, icons - many, UI element for any kind of ui widgets, communication (for bluetooth , wifi, websocket, http, dio, etc), state for redux, mobx etc,

[2020-04-29 14:23] jonasfj opened #3580 "Upgrade to gcloud 0.7.0"
There is a breaking change here, but we get better typing..

See: https://pub.dev/packages/gcloud/changelog

[2020-04-30 08:51] rrousselGit opened #3582 "Mail maintainers when new issues are detected"
Hello!
Sometimes, for any reason, new issues are detected by pub.

These are very useful informations, but it is easy to miss. For example, a property used may get deprecated, or a package may not support the latest version of a dependency.

It would be great if pub could mail maintainers when new issues arise (with potentially a way to manually subscribe/unsubscribe?)

[2020-05-01 09:09] mit-mit opened #3585 "Update social image for pub links"
Please update the twitter image to use the attached file

https://github.com/dart-lang/pub-dev/search?q=%22twitter%3Aimage%22&unscoped_q=%22twitter%3Aimage%22

https://user-images.githubusercontent.com/13644170/80795253-4232b580-8b9c-11ea-96b9-3adb4013e39a.png

![pub-dev-social-image](https://user-images.githubusercontent.com/13644170/80795253-4232b580-8b9c-11ea-96b9-3adb4013e39a.png)

[2020-05-01 13:27] #3585 closed

[2020-05-02 03:15] EbrahimMosaaed opened #3590 "<Summarize your issues here>"
URL: https://pub.dev/

<Describe your issue or suggestion here>

[2020-05-03 14:07] foomoto commented on #1767
This is a painful problem that seems to be a networking issue between where pub.dev is hosted and your network provider. My advice is if you have access to a proxy server like nginx you should be able to setup a reverse proxy connection.

See below:

location  /dart {
      resolver 1.1.1.1;
      proxy_ssl_server_name on;
      proxy_pass https://pub.dev/;
      proxy_set_header X-Real-IP $remote

[2020-05-03 20:10] solomontu commented on #1767
Thanks so much. For now, it's working well hopefully it doesn't stop.

On Thu, Oct 10, 2019, 11:50 Ilo Calistus <notifications@github.com> wrote:

[2020-05-04 02:31] ehowlsla opened #3591 "Request to rename package from pub"
my package url is https://pub.dev/packages/flutterbootpay

i want change pakcage name 'flutterbootpay' to 'flutter_bootpay'

Please tell me what to do

[2020-05-04 08:01] jonasfj commented on #3591
See: https://pub.dev/policy

You can request package removal within 48 hours.

This is not the place to ask.

[2020-05-04 08:01] #3591 closed

[2020-05-04 08:02] jonasfj commented on #3591
Just please do it within 48 hours of publication... we try to keep the policy rather strict :D

[2020-05-04 08:19] sigurdm commented on #3591
You can mark the old package as 'discontinued' and publish the new package.
Then the old package will no longer appear in search results etc.

[2020-05-04 09:00] jonasfj commented on #3486
@JeremyChenn would more granular permissions solve this? You could probably also use gsuite accounts, that way you admin all accounts and can revoke them when people leave.

That said automation is something we're thinking about.

[2020-05-04 10:53] sigurdm commented on #3590
Closing this as incomplete.

Please open a new issue with a full description of your problem/issue

[2020-05-04 10:53] #3590 closed

[2020-05-04 17:42] Ephenodrom commented on #3515
Consider the situtation in this issue, if you plan to implement the mailing function. #3179

[2020-05-04 17:43] Ephenodrom commented on #3582
Feel free to consider the situation described in this issue : #3179

[2020-05-05 09:23] jonasfj commented on #3542
@isoos, can you reproduce with dartdoc flags... and without our customizations.

[2020-05-05 13:07] mit-mit commented on #2936
For simplicity, I would make it on all pages, non-dismissable, but have it scroll out of view. And would be nice if changing it was a configuration option somehow and unrelated to deployments.

[2020-05-06 10:56] jonasfj opened #3598 "Number of publishers reached backend query limit, do implement paging"
From logs:
[code]

[2020-05-08 07:54] isoos commented on #3580
Blocked on https://github.com/dart-lang/appengine/issues/133

[2020-05-08 22:55] bean5 commented on #3564
Although a duplicate, I like the image implementation. Simple, clean, nearly as elegant as what is present.

[2020-05-08 22:56] bean5 commented on #3564
@craigomac could you post that picture on #3336 ?

[2020-05-09 09:09] craigomac commented on #3336
As requested by @bean5, I enclose the suggestion I made for this in #3564:
![image](https://user-images.githubusercontent.com/6972172/81469521-8f8ad480-91e5-11ea-81dd-3e5bd00304e4.png)

[2020-05-11 11:17] jonasfj opened #3610 "Don't return 200 OK if we fail to send invitation emails"
Ideally SMTP `421` could be retried once. But if we give up we should say that we failed to send the email.

It might be fine to create the consent entity, etc. as we currently do, but we should surface a message to the user that sending the email failed.

[2020-05-11 11:37] #3557 closed

[2020-05-11 17:12] pravitasari opened #3613 "json format exception : unexpected character"
Exception has occurred.
FormatException (FormatException: Unexpected character (at character 1)
<br />
^
)

code :
login() async {
    final response = await http.post("http://192.168.1.5/login/api/login.php",
    body: {"username": username, "password": password});
    final data = jsonDecode(response.body);
    int value = data['value'];
    String pesan = data['message'];
    String namaAPI = d

[2020-05-12 07:45] sigurdm commented on #3613
Not sure what you are trying to do.

Could you explain a bit what you expected to happen?
Is this an issue with the pub.dev site?

Please edit the comment and use code-fencing for the code to make it readable.

https://help.github.com/en/github/writing-on-github/creating-and-highlighting-code-blocks

[2020-05-12 12:13] jonasfj opened #3615 "Don't show old prereleases at the top of /versions page"
Once a version `>= 1.0.0` has been published, there is no reason to show this at the top:
![dhBrPu5msCJ](https://user-images.githubusercontent.com/149732/81689434-940bf300-945a-11ea-95c5-a4de55747235.png)

We always show them at the bottom anyways.
![Yq1QwTKMhYP](https://user-images.githubusercontent.com/149732/81689439-953d2000-945a-11ea-92c4-b806b83c017f.png)

[2020-05-12 12:16] jonasfj opened #3616 "Use the terminology "prereleases" instead of "dev releases""
See also: https://dart.dev/tools/pub/publishing#publishing-prereleases

The documentation talks about prereleases, so does semantic versioning: https://semver.org/spec/v2.0.0-rc.1.html

Examples from `https://pub.dev/packages/path/versions`
![Rz84CaQ9Pay](https://user-images.githubusercontent.com/149732/81689907-0086f200-945b-11ea-94a3-d63e617e0dcd.png)
![JqvnSByRuwD](https://user-images.githubuse

[2020-05-13 08:12] #3610 closed

[2020-05-13 08:13] #3615 closed

[2020-05-13 08:13] #3616 closed

[2020-05-13 10:14] jonasfj opened #3620 "Crop ff-banner-desktop-2x.png"
The `ff-banner-desktop-2x.png` image has 2 or 3 transparent pixels at the top.

[2020-05-13 13:01] #3580 closed

[2020-05-13 15:07] #3620 closed

[2020-05-13 22:17] KOGI opened #3624 "Health Scoring should not be deducting score based on dartfmt"
URL: https://pub.dev/packages/etcd#-analysis-tab-

Since this is my own project, I should have the option to decide whether or not I will follow the dartfmt standards. These checks are only in place for the main package in question (not its dependencies), so if anyone else were to depend on my package, my intentionally different formatting already won't affect them.

At the very least, this check

[2020-05-14 05:01] isoos commented on #3574
With #3623 merged, we'll decrease the weight of the API results (both symbols and documentation). This will take effect in the next pub.dev release (probably within a week or two), and it should promote packages with phrases more relevant to search better. As we have no immediate plans to change anything else with the ranking and search, I'm closing this issue.

[2020-05-14 05:01] #3574 closed

[2020-05-14 08:11] #3527 closed

[2020-05-14 17:51] ThinkDigitalSoftware opened #3627 "[Feature Request] Add support for sorting liked packages"
Issue: I liked a package, but I don't remember the name. I know it was done recently though, however pub.dev is sorts the liked packages list alphabetically only. Can we also have the option of sorting by date liked?

[2020-05-14 20:00] KOGI opened #3628 "Health analysis is not honoring analysis_options.yaml"
URL: https://pub.dev/packages/nats_dart#-analysis-tab-

Nearly all of the linter suggestions being reported on my project above are lints that I have consciously  disabled in `analysis_options.yaml`, but the health analysis is still deducting a significant number of points for their presence.

Health analysis should honor the settings in `analysis_options.yaml` to avoid unexpected score deductions

[2020-05-15 05:12] minhvn opened #3629 "How detect and remove some ppl make a reservation"
Hi team, How detect and remove some ppl **make a reservation** to get **nice name** and longtime didn't push source code"
Only run create plugin project and push to pub.dev.
Thank team.

[2020-05-15 07:07] sigurdm commented on #3624
We score based on formatting, because projects that are formatted are easier to contribute to.

Using a default formatter doesn't make everyone(anyone?) happy, but at least it's super easy, and it saves a lot of time otherwise spent discussing formatting issues.

See more about the philosophy here: https://github.com/dart-lang/dart_style/wiki/FAQ .

We do allow non-formatted/differently formatted

[2020-05-15 07:07] #3624 closed

[2020-05-16 16:00] jonaird opened #3632 "dartdoc fails when analyzing my package on pub.dev but succeeds on my local machine"
[My Flutter library](https://pub.dev/packages/upstate) has 10 points docked from the maintenance category because dartdoc is failing. However when I run it on my machine and exclude Flutter and Dart libraries I don't get any errors. When I don't specifically exclude them I get errors. Am I getting docked for issues in flutter/dart libraries? This is the error that pub.dev says I have with my libra

[2020-05-16 16:05] #3632 closed

[2020-05-16 16:06] jonaird commented on #3632
I don't know exactly what happened but the issue seems to be resolved.

[2020-05-16 18:26] Tarhex commented on #1767
Try to see if you can reach https://dartlang-pub-dev.appspot.com/ in your browser

If it is accessible, declare PUB_HOSTED_URL as a system environment variable and give it the value https://dartlang-pub-dev.appspot.com/

Then exit and reopen your cmd window and try again.

[2020-05-16 18:45] isoos commented on #1767
IMPORTANT NOTE: `https://dartlang-pub-dev.appspot.com/` is **not** the `pub.dev` site, it is the staging site. The data there is stale, and does not reflect the real site. While your `pub` client may work, there is no guarantee that it serves the same (or even similar) content than https://pub.dev/

You may set `PUB_HOSTED_URL` to `https://dartlang-pub.appspot.com/` (note the missing `-dev` in the

[2020-05-17 13:46] JSWilProf opened #3633 "pub.dartlang.org is down"
![Captura de Tela 2020-05-17 às 10 40 17](https://user-images.githubusercontent.com/19787516/82148913-7dcfaf80-982b-11ea-84a2-039e9df9665f.png)
URL: https://pub.dartlahg.org/

flutter packages get
or
pub get

Does not work, show timeout when trying to access pub.dartlang.org
only works when set PUB_HOSTED_URL=https://pub.dev/.

[2020-05-17 13:47] JSWilProf commented on #3633
![Captura de Tela 2020-05-17 às 10 46 40](https://user-images.githubusercontent.com/19787516/82148941-bcfe0080-982b-11ea-9e8d-bc1b3084617e.png)
Flutter 1.17.1 • channel stable • https://github.com/flutter/flutter.git
Framework • revision f7a6a7906b (5 days ago) • 2020-05-12 18:39:00 -0700
Engine • revision 6bc433c6b6
Tools • Dart 2.8.2

[2020-05-17 14:46] JSWilProf commented on #3633
correcting: it only works if we add the pub.dev resolution in /
![Captura de Tela 2020-05-17 às 11 43 50](https://user-images.githubusercontent.com/19787516/82151850-0d795c00-9834-11ea-8bad-28f08c72e76a.png)
etc/hosts

[2020-05-18 09:45] isoos commented on #3629
@minhvn: Please follow the "Name squatting" guides on the policy page:
https://pub.dev/policy#name-squatting

"If you believe a package is engaged in name squatting, you can use the following steps to request a pub.dev moderator review and that the package be transferred to you:

- Locate the email of the publisher, as shown in the details pane on the package page on pub.dev.
- Email the publisher

[2020-05-18 09:45] #3629 closed

[2020-05-18 09:58] isoos commented on #3628
@KOGI: The override is by design: pub.dev wants to encourage packages to follow the same best practices and coding standards, making it easier for others to read the published code and contribute to it when needed. This goal can be done only if we override the `analysis_options.yaml` provided by the package.

There is always room to contest some of the rules (e.g. in `package:pedantic`), and we ar

[2020-05-18 09:59] #3613 closed

[2020-05-18 17:29] KOGI commented on #3628
It's a very common case that I want to kick off a future async in the background without waiting for it, and I find hints about them too frequent to the point of being distracting. Although, I must admit, I pulled that config from another project of mine and it may not be entirely appropriate in this project -- I will review that one.

As for `unnescessary_new`, I find that a significant portion o

[2020-05-18 18:10] #2958 closed

[2020-05-18 21:37] kwalrath opened #3638 "suggestions for pub uploader messages"
In the course of reviewing https://github.com/dart-lang/site-www/pull/2395, I made a couple of suggestions for changing the output of `pub uploader` (for line length/grammar/clarity/voice.) Here are the suggestions, for the record:

Suggestion 1 (before):
[code]

And after:
[code]

Suggestion 2 (before):
[code]

And after:
[code]

/cc @jonasfj

[2020-05-19 07:28] #3457 closed

[2020-05-19 07:29] isoos commented on #3236
This was fixed in search.

[2020-05-19 07:29] #3236 closed

[2020-05-19 07:32] #3217 closed

[2020-05-19 07:34] isoos commented on #3171
We don't see issues with logins, I think this is now resolved.

[2020-05-19 07:34] #3171 closed

[2020-05-19 07:35] isoos commented on #3183
This has been implemented.

[2020-05-19 07:35] #3183 closed

[2020-05-19 07:36] #3064 closed

[2020-05-19 07:36] #3078 closed

[2020-05-19 07:38] isoos commented on #3164
Could not reproduce the issue, closing.

[2020-05-19 07:38] #3164 closed

[2020-05-19 07:40] #3092 closed

[2020-05-19 07:41] #3039 closed

[2020-05-19 07:42] #2857 closed

[2020-05-19 07:42] #2856 closed

[2020-05-19 09:19] jonasfj commented on #3633
What DNS server are you using? ISP? where are you located?

What does `dig any pub.dartlang.org` report?

[2020-05-19 09:20] jonasfj commented on #3633
What OS / configuration.

[2020-05-19 09:23] jonasfj commented on #3628
We are reworking the scoring model.. but `pub.dev` probably won't be without opinions.

However, not targeting a perfect score is perhaps reasonable in some cases.

[2020-05-19 09:23] #3628 closed

[2020-05-19 09:26] jonasfj commented on #3627
Maybe we should just make "sorting by date" the default.

[2020-05-19 09:35] jonasfj commented on #3638
Cool, I think we can fix this on the server.

[2020-05-19 09:35] isoos commented on #1991
Closing this, as such packages can be searched for via https://pub.dev/dart/packages?runtime=native-jit

[2020-05-19 09:35] #1991 closed

[2020-05-19 09:38] jonasfj commented on #2103
Policy is 48 hours, whether or not we should have an automatic button is a good question.

[2020-05-19 10:04] jonasfj opened #3639 "Change ?runtime= and ?platform= parameters to use human-friendly labels"
We can probably change:
 * `https://pub.dev/dart/packages?runtime=native-jit+web`
Into:
 * `https://pub.dev/dart/packages?runtime=native+js`

(as "js" and "native" are the human-friendly labels).

For compatibility, let's also support the underlying labels. Also because we're using that for `platform=macos` as a secret URL going forward.

We also have to change the links the UI.

[2020-05-19 11:40] mnordine commented on #3171
Yep, I've logged in without issue.

[2020-05-19 15:02] #3638 closed

[2020-05-19 15:33] #3519 closed

[2020-05-19 16:11] jonasfj opened #3642 "advanced search in new design disappears when making page less wide"
Seems the advanced options leaves the viewport if the window is made narrow... Even though we have plenty of space.

![HBK3wZxSvbO](https://user-images.githubusercontent.com/149732/82350755-0c932680-99fc-11ea-839a-f1f3e922167b.png)

[2020-05-20 11:23] #3639 closed

[2020-05-21 16:38] chimon2000 opened #3644 "[Feature Request] Better scoring"
The current method of computing scores is largely influenced by popularity.  This method is flawed in the following ways:

* Popular package creators will almost always start with high scores, while new package creators will almost always start with low scores.

* A package can achieve a high score regardless of criteria that should weigh heavily in scoring, like test coverage.

## Proposed soluti

[2020-05-21 20:10] chimon2000 opened #3645 "How to contribute & run locally"
I would like to contribute to this project, but it looks like that is not possible without being able to create a Google Cloud key for the **dartlang-pub-dev** project.

[2020-05-21 20:55] isoos commented on #3645
@chimon2000: I'm curious: what kind of contributions are you looking forward to do?

The [development](https://github.com/dart-lang/pub-dev/blob/master/doc/development.md) page may be a bit out of date of what is possible.

While the "simple" track of running the project requires access to a Google Cloud project, it may be your own private project as well, it does not need to be `dartlang-pub-dev`

[2020-05-21 21:33] chimon2000 commented on #3645
I'd love to contribute in any way that I can. Specifically, I wanted to try and tackle #3203, but ran into issues trying to setup my local environment.

[2020-05-22 07:01] isoos commented on #3645
For the liked packages page, we are planning to implement #3627 (sort by date instead of alphabetical) soon, as it is a small change overall.

However, #3203 will be a lot more complex, as it requires multiple pieces of data, which are to be request from Datastore in separate queries, and they will take a long time for a user with lots of liked packages. To be efficient, we'll need a rollup entity

[2020-05-22 12:59] chimon2000 commented on #3645
Can do. What label do you use to identify good issues for first time contributors?

[2020-05-22 13:17] isoos commented on #3645
@chimon2000: FYI: #3648 is a PR for #3627.

As for simpler starter issues, maybe #2181 or #1562 would come close. /cc @jonasfj for future tagging.

[2020-05-22 16:33] isoos commented on #3450
I've done a load test with a local instance connecting to staging. After ~2 hours and 12k+ requests served (random API calls, package pages and searches), I haven't observed an increase in the memory consumption of the VM.

Maybe we should try to close and re-connect the RPC connections (to redis, search service and Datastore)?

[2020-05-23 02:46] chimon2000 commented on #3645
Awesome! Is there work to make it so the project can be ran locally?

[2020-05-24 01:27] winksaville opened #3650 "I'd like to suggest a test.pub.dev"
I published my first two packages and made some stupid mistakes. I'd like to suggest a test.pub.dev instance of pub.dev where by full round trip testing could be done prior to a "forever" upload to pub.dev.

For more information see [this discussion](https://gitter.im/dart-lang/TALK-general?at=5ebdfbddda74582e921d20db) on gitter.

[2020-05-25 06:41] psionprime opened #3651 "pub get will not get mysql1 package"
Dart v2.8.2, package mysql1 0.17.1

Placing a dependency in the yaml file as I have for others seems to work with pub get, but mysql1 is not:
- in the import package list in VSCode
- in package cache
- in .package
- in pub deps listing

Using pub cache add mysql1 indicates it has downloaded but again, all the above. Where is the logging of the actions to try and trace what is going on here ?

I ha

[2020-05-25 07:45] isoos commented on #3651
@psionprime: Could you please include the logs of `pub get -v`?

[2020-05-25 09:10] isoos commented on #3650
Direct link to the mistakes mentioned: https://gitter.im/dart-lang/TALK-general?at=5eca844ea91f120a6cbcf519

[2020-05-25 09:14] isoos commented on #3650
@jonasfj: This could be one of the features of the staged publishing, however, I think it would be better to provide these checks as part of the `pub publish --dry-run`. E.g. the `homepage` / `repository` URL rendering is something `pub` could emit - if we had the shared package between them.

[2020-05-25 09:15] isoos commented on #3642
Fixed by #3643.

[2020-05-25 09:16] isoos commented on #3642
(Closed by mistake)

[2020-05-25 09:16] tusharojha opened #3653 "Links in README should open in a new tab"
Hi there,
I have a suggestion for website improvement i.e. while browsing different packages containing links to their sample apps, documentation, etc. the website opens them on the same page which is annoying. If it opens in a new tab by default then it will help people browsing multiple links from the package's readme.

[2020-05-25 09:37] isoos commented on #3653
@tusharojha: Thanks for reporting this. I can conform that while opening them via right click + open in new tab works, using CTRL/CMD+click does not work the same way.

@jonasfj: It seems to me that this is caused by the analytics we are using on the tabs. I think this analytics can be removed, as the regular page load events would be enough for us. wdyt?

[2020-05-25 09:52] tusharojha commented on #3653
using CMD + click opens the page in a new tab but focuses on the current tab maybe because of browser features/settings.

[2020-05-25 14:45] isoos commented on #3450
I've done further investigation into memory use, focusing on `StringInternPool`, which is used both in `search` service and in the frontend's dependency tracker isolate. In both cases I've simulated the long-term use by running the initialization phase multiple times (5-10x), and measured the difference in both currently used and maximum heap memory.

- `search` used it with a limit on how many it

[2020-05-25 19:37] psionprime commented on #3651
I powered down, came back today and now it is listed in 'pub deps'. I spent hours trying to properly install this with almost no feedback during the process. I'm going to close this issue and see about using the library. If this comes up again I will use 'pub get -v'. Perhaps some more obvious logging or messaging during the get to indicate success or fail will be helpful. Thank you for your effor

[2020-05-25 19:37] #3651 closed

[2020-05-26 07:01] sigurdm commented on #3644
Thanks for the idea.
We are actually currently working on an improved package scoring model - and what we have come up with is very similar to your proposal.

[2020-05-26 09:31] #3627 closed

[2020-05-26 09:31] #3235 closed

[2020-05-26 09:51] #2936 closed

[2020-05-26 09:56] #3565 closed

[2020-05-26 11:35] mit-mit opened #3657 "Custom analysis for packages which are tools"
Some of our analysis guidelines make no sense for packages which are tools (e.g. stagehand), for example here's an issue with a tool loosing points over not having an example file: https://github.com/dart-lang/stagehand/issues/638#issue-505545391

[2020-05-26 13:02] jonasfj commented on #3653
@isoos, if analytics is causing regressions then rip it out, and file an issue to fix it. In this case we're changing away from tabs on the same page to using different pages. So maybe we just get rid of the event altogether.

I can't reproduce. I tried both with and without content filtering.

[2020-05-26 13:03] jonasfj commented on #3650
This seems very much aligned with the incomplete thoughts we have around _staged publishing_.

[2020-05-26 17:31] isoos commented on #3657
I think `package:stagehand` readme's "Usage" section does contain content that is similar to stereotypical package's example tab: https://pub.dev/packages/stagehand#usage
Similarly, they have an Installing section that is a subset of our Installing tab.

Maybe we should do a top-level analysis of the readme, and if the section has a recognized title (e.g. installing, setup, usage, example use) the

[2020-05-26 17:33] isoos commented on #3633
Assuming the issue was resolved. Feel free to reopen if it still persist.

[2020-05-26 17:33] #3633 closed

[2020-05-26 19:01] mpfaff commented on #3164
@isoos I totally forgot this issue was even open. Not sure if it was me, Chrome, or pub.dev, but the issue stopped happening months ago.

[2020-05-26 23:23] srawlins opened #3660 "Link is markdown package's README not parsed as link."
Link is not being parsed as a link, in markdown's README:

![t5ty4mUNCOm](https://user-images.githubusercontent.com/103167/82959541-ce05ea80-9f6c-11ea-9810-47988a392918.png)

User opened https://github.com/dart-lang/markdown/issues/286. But bug does not appear to be in markdown package; appears to be in pub.dev. Source markdown is:

[code]

Possible vectors:

* reference link w/o trailing `[]`
* r

[2020-05-27 00:00] winksaville commented on #3650
I just took the survey and added added by desire to have that feature, I also mentioned the notion of having a test.pub.dev. I hope we see it in the future!

[2020-05-27 01:00] hjlp20150803 opened #3661 "‘pub global activate protoc_plugin’ failed to upgrading"
URL: https://pub.flutter-io.cn/help

<Describe your issue or suggestion here>
'protoc_plugin' stays on the version 0.7.11, it can be upgraded.Like below:
==================================
$ pub global activate protoc_plugin 19.0.1
Package protoc_plugin is currently active at version 0.7.11.
Resolving dependencies...
Package protoc_plugin has no versions that match 19.0.1 derived from:

pub global

[2020-05-27 03:29] chimon2000 commented on #3644
Awesome, I am glad to hear this is something you are thinking about!

[2020-05-27 05:48] isoos commented on #3661
@hjlp20150803: Could you please include the output of the following:
`pub global activate protoc_plugin 19.0.1 -v`

[2020-05-27 06:27] isoos commented on #3660
@srawlins: could you please help me out why the below example wouldn't convert the link? I think it should be the equivalent of the `dart bin/markdown.dart --extension-set GitHubWeb` command that was mentioned in the other issue.

[code]

[2020-05-27 10:03] isoos commented on #3653
@jonasfj: My bad, I was focusing on the detail page's tabs, which - in the new design - should be able to open with CTRL+click, but they are not doing that. I'll fix the analytics collection for that.

@tusharojha: We do have a few places, where we open links in new window/tabs, but these are limited in their number and scope. One example for such place is the consent page, where you can accept to

[2020-05-27 10:38] jonasfj opened #3662 "Update post-deployment tests to ensure that API docs is available"
We probably can't test that API docs is available for a version we've just published, but if we find the latest version of `_dummy_pkg` that was published >1 week ago then documentation should be available for said version.

[2020-05-27 10:39] jonasfj commented on #3662
If we find a previous version of `_dummy_pkg` that has a documentation on the production site, then the new deployment should also have documentation.

[2020-05-27 11:04] jonasfj commented on #3645
Technically, running it locally is possible... Just create a GCP project and use that instead of `dartlang-pub-dev` (arguably one would need to fix the places where we've hardcoded it).

@isoos, maybe we can find some contribution opportunities for improving the ability to run it locally? Maybe we can fake all the cloud services such that local development doesn't need a GCP project.

Long term, w

[2020-05-27 13:02] hjlp20150803 commented on #3661
'''
SLVR: | | | | | | | | | | version 0.29.0-alpha.1 of analyzer doesn't match >=0.31.2-alpha.0 <0.32.0:
    | | | | | | | | | | |   dart_style 1.0.10 from hosted -> analyzer ^0.31.2-alpha.0 from hosted (analyzer)
SLVR: | | | | | | | | | | version 0.29.0-alpha.0 of analyzer doesn't match >=0.31.2-alpha.0 <0.32.0:
    | | | | | | | | | | |   dart_style 1.0.10 from hosted -> analyzer ^0.31.2-alpha.0

[2020-05-27 13:05] hjlp20150803 commented on #3661
''''
$ pub global activate protoc_plugin 19.0.1 -v
FINE: Pub 1.24.3
MSG : Package protoc_plugin is currently active at version 0.7.11.
MSG : Resolving dependencies...
SLVR: Solving dependencies:
    | - protoc_plugin 19.0.1 from hosted (protoc_plugin)
IO  : Get versions from https://pub.dartlang.org/api/packages/protoc_plugin.
IO  : HTTP GET https://pub.dartlang.org/api/packages/protoc_plugin

[2020-05-27 13:08] hjlp20150803 commented on #3661
[code]

[2020-05-27 13:10] hjlp20150803 commented on #3661
[code]

[2020-05-27 13:13] isoos commented on #3661
You are using Dart SDK `1.24.3`, while `protoc_plugin` `19.0.1` depends on Dart SDK `>=2.0.0 <3.0.0`. You'll need to upgrade your Dart SDK, or use e.g. `0.8.0+1` (the last version working with the `1.24.3` SDK).

[2020-05-27 13:13] #3661 closed

[2020-05-27 13:15] hjlp20150803 commented on #3661
[out.txt](https://github.com/dart-lang/pub-dev/files/4688936/out.txt)

[2020-05-27 17:55] tusharojha commented on #3653
@isoos: As I said before, it is just a suggestion and something which I feel good to have but I also agree with your opinion and let it be the same for now.
Therefore, I am closing this issue now.
Thanks

[2020-05-27 17:55] #3653 closed

[2020-05-27 21:36] hjlp20150803 commented on #3661
It shows error related to the dart sdk, could you tell me how to fix this or uninstall the dart or reinstall the flutter?
[code]

[2020-05-27 21:37] hjlp20150803 commented on #3661
It shows error related to the dart sdk, could you tell me how to fix this or uninstall the dart or reinstall the flutter?
[code]

[2020-05-27 21:48] isoos commented on #3661
- To debug what you have in the path use `echo $PATH`.
- You could use `which dart` and `which pub` to check the which of those has the executables in the first position.
- Make sure that `dart --version` and `pub --version` is up-to-date.

[2020-05-27 22:44] srawlins commented on #3660
Ah, it appears to be fixed at HEAD! I can reproduce the bug in 2.1.3 tag, but not at HEAD...

[2020-05-27 22:45] srawlins commented on #3660
Likely fixed by [this](https://github.com/dart-lang/markdown/commit/5e9163bfe165c420a91ae236440898188d622663) then. Apologies. I will release, and I'll bump this issue to request a version bump.

[2020-05-28 01:29] hjlp20150803 commented on #3661
$ which dart
/Users/longxhb/dart-sdk/bin/dart
$ which pub
/Users/longxhb/dart-sdk/bin/pub
$ dart --version
Dart VM version: 1.24.3 (Wed Dec 13 23:26:59 2017) on "macos_x64"
$ pub --version
Pub 1.24.3
=========
Of course they are not up-to-date,that is why I want to uninstall all of these and reinstall.

[2020-05-28 04:55] srawlins commented on #3660
Released. Bumping to 2.1.4 should solve this.

[2020-05-28 05:50] isoos commented on #3660
@srawlins: thank you!

[2020-05-28 06:00] #3660 closed

[2020-05-28 07:49] isoos commented on #3661
@hjlp20150803: it looks like you have the old SDK in `/Users/longxhb/dart-sdk`. Unless your setup is hugely different, I think you can uninstall it by deleting that directory (either from Finder or form the command line: `rm -rf /Users/longxhb/dart-sdk`.

You can use the SDK in brew, or you can download the zip archive directly, if you want the maximum control of what is installed and how you are

[2020-05-28 16:29] kevmoo opened #3669 "Many packages are missing documentation"
See

https://pub.dev/documentation/source_maps/latest/

even though it shows as being generated

https://pub.dev/packages/source_maps/versions

[code]

[2020-05-28 16:31] kevmoo commented on #3669
CC @isoos

Related to https://github.com/dart-lang/pub-dev/issues/3662 @jonasfj ?

[2020-05-29 15:30] jonasfj opened #3673 "bin/tools/remove_package.dart is broken"
[code]
Probably because we're reusing logic from the backend :D

[2020-05-29 15:33] jonasfj commented on #3669
I think we've resolved the issue, and packages with missing documentation should gradually regain it.

We'll wrap up a postmortem next week.

[2020-05-29 15:52] jonasfj commented on #3653
I think it makes sense to be reasonable careful about `target="_blank"`.

I often associate over usage of `target="_blank"` with sites that prefers to annoy me, rather than having me leave the site (I don't like such sites, hehe)..

Of course there are cases where it makes a lot of sense, for example, opening help while in the middle of some task.

[2020-05-29 17:59] kevmoo commented on #3669
Yup! My little script reflects everything is back! Thanks!

[2020-06-01 01:01] hjlp20150803 commented on #3661
I have reinstalled the dart, but the 'pub global activate protoc_plugin 19.0.1' still stays on old version.

Could you please help me take a look what happened again?

[code]
[out9.txt](https://github.com/dart-lang/pub-dev/files/4708813/out9.txt)

[2020-06-01 02:20] hjlp20150803 commented on #3661
Please help me to take a look what's wrong now?
[code]

[2020-06-01 19:10] isoos commented on #3661
Looks like you have successfully upgraded the protoc plugin, but it fails to process something. I have no experience with it, I think you should open an issue in its bug tracker: https://github.com/dart-lang/protobuf/issues

[2020-06-01 23:44] hjlp20150803 commented on #3661
Yes you are right,I need to open an new issue, but I think I have made some mistake there, so I made up new simple test.proto file, and tested again,"--dart_out: protoc-gen-dart: Plugin output is unparseable",maybe you could figure out something? if not,I will close this issue, thanks!

[code]

[2020-06-01 23:56] hjlp20150803 commented on #3661
https://github.com/dart-lang/pub-dev/issues/3661#issuecomment-637049514

I know you closed the issue, but is this worth to take a look?
"--dart_out: protoc-gen-dart: Plugin output is unparseable: “ ,is this related the plugin?

[code]
2020年6月2日 上午3:11，István Soós <notifications@github.com<mailto:notifications@github.com>> 写道：

Looks like you have successfully upgraded the protoc plugin, but it fai

[2020-06-02 12:28] fkhan-hesabe opened #3676 "Copyright / proprietary issue"
URL: https://pub.dev/packages/flutter_hesabe_payment

We would like to report a copyright / proprietary issue related to the package https://pub.dev/packages/flutter_hesabe_payment

We, at Hesabe, have not authorized the author (jeetb.wedowebapps@gmail.com) to publish this on the site. In addition to that, there is conflicting information that portrays our system as one of our local competitors.

[2020-06-02 12:38] mit-mit commented on #3676
Sorry to hear @fkhan-hesabe, can you please contact support@ as per https://pub.dev/policy?

The present issue tracker is meant for issues in the site infrastructure.

[2020-06-02 12:38] #3676 closed

[2020-06-02 13:38] isoos opened #3678 "Investigate: we should minimize the time of Datastore transactions when uploading"

[2020-06-02 19:45] feinstein opened #3679 "Add a Dark Theme for the docs pages"
The docs pages like: https://pub.dev/documentation/http/latest/http/BaseRequest-class.html are hard to read at night with all that white. A dark theme would be a very welcome addition.

[2020-06-02 20:19] florent37 opened #3680 "My package is compatible with android/ios/macos but only flagged as "Flutter""
URL: https://pub.dev/packages/assets_audio_player

My flutter package supports Android/ios/macos (web is on an external repo)

[code]

But when uploaded to pub.dev, it's only flagged as "Flutter"

<img width="461" alt="Capture d’écran 2020-06-02 à 22 19 22" src="https://user-images.githubusercontent.com/5754972/83565698-2154db80-a51f-11ea-96b3-18a64899ba34.png">

# Flutter Doctor

[code]

[2020-06-02 22:12] jonasfj commented on #3679
Yes, I know we've thought about this many times..
(Personally, I often use https://darkreader.org/)

I suspect we would need to file for `dartdoc`, or maybe we can tweak the CSS to just be dark based on [`@media(prefers-color-scheme: dark)`](https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme).

[2020-06-02 22:17] feinstein commented on #3679
I think this should be just a CSS change, maybe add a button to toggle and save this preference on a cookie or something.

[2020-06-03 00:43] jamesderlin commented on #2373
Does pub.dev use `package:pedantic`'s `analysis_options.yaml` when performing analysis on a package?   My understanding was that `package:pedantic`'s options were fairly tailored to Google's internal style and that some of its options aren't necessarily expected to be adopted externally.

See https://stackoverflow.com/questions/62163094/pub-dev-static-analyzer-emits-additional-errors, where a user

[2020-06-03 10:36] jonasfj commented on #3669
Issue resolved and postmortem completed.

[2020-06-03 10:36] #3669 closed

[2020-06-03 14:35] isoos commented on #3680
It is not exposed on the pub site yet, but the latest `package:pana` provides a reason:

[code]

I'm not sure why `path_provider` is not classified, maybe @sigurdm can help us out here.

[2020-06-03 15:04] isoos opened #3681 "Changelog parsing: detect version labels in addition to levels"
https://pub.dev/packages/built_value_test/changelog
https://raw.githubusercontent.com/google/built_value.dart/master/CHANGELOG.md

[code]

We should be able to detect the version, and treat it as top-level entry instead of the sub-content of the entry above it.

[2020-06-03 20:32] isoos commented on #3681
We should probably include the pattern of https://keepachangelog.com/en/1.0.0/ too

[2020-06-04 09:21] sigurdm commented on #3681
IMO https://raw.githubusercontent.com/google/built_value.dart/master/CHANGELOG.md is broken. We should rather try to make a warning in pana/pub publish...

[2020-06-04 11:57] AndroidNils commented on #3321
What were the reasons for this? I miss this feature 😢

[2020-06-04 15:14] jonasfj opened #3685 "Limit number of versions allowed to 2k"
Do not allow publishing if 2000 versions of the package already exists.

Note. we could warn in publishing emails if the previous publish is less than 24 hours ago, and the package has more than 100 verisons. I'm not sure this is critical.

Stats from public API:
[code]

[2020-06-05 19:19] shptecheu opened #3689 "Incorrect tagging for Flutter web (old style plugins)"
URL: https://pub.dev/packages
Filter: Flutter web

I have been struggling to find packages that _really_ support Flutter Web. Generally, compatible packages have a readme with a section for Android, iOS and Web.

However, I found most packages were ticking Web arbitrarily and when trying them out, they do not really work. Moreover, Flutter debug is not attaching and can't really drill down.

So i

[2020-06-08 08:37] sigurdm commented on #3689
The platform tagging could surely be improved  so no offense taken.
But could you provide us with concrete examples with packages that are declared to work on flutter-web but did not work when you tried it?
Also what went wrong?
Perhaps some packages don't work as intended.
And please give your `flutter doctor` output.

[2020-06-08 12:09] isoos opened #3690 "Like button: increase click area to encompass number"

[2020-06-08 12:20] HarshPipaliya commented on #2600
Facing the same issue: Could not resolve URL “https://pub.dartlang.org”.

[2020-06-08 12:26] jonasfj commented on #2600
@HarshPipaliya
The original issue reported:

Inability to resolve the URL is different from "500: Internal Server Error". Please file a separate issue, and specify if you use proxy, do have issues reach `pub.dartlang.org` using curl/wget in the terminal?

[2020-06-08 12:39] isoos commented on #3678
After looking into the internals of the upload, I have found a few nits that could be done differently, but the`_updatePackageSortIndex` overshadows all of them:
- in a separate transaction (not sure if that is possible, I think we had issue with that prior),
- it loads all the `PackageVersion` entities,
- and updates some, depending on the order of the version.

I've also found a recent log recor

[2020-06-08 13:07] jonasfj commented on #3678
Removing `sortOrder` seems like a nice improvement. Given the size of the `PackageVersion` entities, updating a lot of these in a single transaction isn't wise.

(note. we have other work in progress to reduce the size of `PackageVersion` entities).

[2020-06-08 14:04] jonasfj opened #3692 "Forbid uploads of packages with pubspec.yaml that can't be JSON"
YAML can contain values that cannot be presented in JSON.
[code]
is a good example.

As custom keys are allowed in `pubspec.yaml` we need to:
 * Check that the `pubspec.yaml` can be represented as JSON, and,
 * Have a test case that publishing such a package will fail.

Today, this will presumably throw an unhandled exception when we try to convert the pubspec into JSON. This might be preferable t

[2020-06-08 14:49] jonasfj opened #3693 "Limit number of direct package dependencies to 100"
Limit number of direct package dependencies to 100, to to have some sanity limit.

Based on current packages I suggest we limit number of direct-dependencies a package can have to 100. If people really need they can:
*  Work around the problem with transitive dependencies, or,
*  File a bug to have the limit increased.
(I suggest we let this be reflected in the error reported to the user.)

There

[2020-06-08 15:45] jonasfj commented on #3693
Edit: Changed limit to 100.

[2020-06-08 16:09] shptecheu commented on #3689
One of the earliest packages I tried was  [flutter_email_sender](https://pub.dev/packages/flutter_email_sender). Granted, there were open issues regarding similar behaviour, case in point [flutter_email_sender Issue #43](https://github.com/sidlatau/flutter_email_sender/issues/43).

Most of the packages were tagged for web, but had the same generic error of "Overflow on channel: _<packageName>_.  M

[2020-06-08 18:37] #3693 closed

[2020-06-09 01:16] kevmoo opened #3695 "publish email: Include changelog info for the published version"
now that we can parse the changelog, it'd be great to get the changelog details for the published release!

[2020-06-09 09:15] jonasfj commented on #3689
Ah, this is probably -> https://github.com/dart-lang/pana/issues/639

[2020-06-09 09:24] jonasfj commented on #3681
Different sections levels for different versions in a changelog is not a good pattern we wish to support.

[2020-06-09 09:24] #3681 closed

[2020-06-09 09:25] jonasfj commented on #3681
Notably, it's problematic in cases such as:
[code]

[2020-06-09 09:30] jonasfj commented on #3680
Problem seems to be `path_provider` importing `path_provider_linux`:

https://github.com/flutter/plugins/blob/2fb8bf023a43ef93b2f372f277fa16399d79b744/packages/path_provider/path_provider/lib/path_provider.dart#L34-L46

We should investigate what is going onehttps://github.com/flutter/plugins/blob/2fb8bf023a43ef93b2f372f277fa16399d79b744/packages/path_provider/path_provider/lib/path_provider.dart#

[2020-06-09 09:41] jonasfj commented on #3680
Either we have to find a way to allow conditional imports on linux/windows/etc..
or https://github.com/flutter/flutter/issues/52267 has to be fixed.

[2020-06-09 10:10] jonasfj commented on #3695
We send these emails to enable package owners to discover malicious publishing events, in case their account is compromised.

Allowing a potential attacker to define a section of the email is probably not a huge concern. As coming up with a fake/innocent CHANGELOG entry can be hard.

But we should note that the purpose of these emails is not to notify people who are interested in updates about a p

[2020-06-09 11:45] sigurdm commented on #3321
We actually have 'hidden' support for this.

https://pub.dev/flutter/packages?platform=macos

But until https://github.com/dart-lang/pana/issues/639 is solved it is not super-useful as all old-style plugins are tagged as working on mac-os.

[2020-06-09 14:10] kevmoo commented on #3695
Yup. But I've noticed that these end up being FYI emails that someone else on my team has published something. I end up clicking and going to the changelog to see what's new

[2020-06-09 14:36] abhimortal6 opened #3698 "Urgent requesting to remove initial version from plugin package"
I've developed a S3 uploader plugin but I may have shared some credentials. Which I'm not supposed to share. I have uploaded an instant fix but the initial version 0.0.1 still shows the file which have creds.

can we still remove it?
please remove the version 0.0.1

here is the link
https://pub.dev/packages/simple_s3/

[2020-06-09 14:53] isoos commented on #3698
@abhimortal6: Please contact support@ as per https://pub.dev/policy

[2020-06-09 14:53] #3698 closed

[2020-06-09 14:54] isoos commented on #3698
As for the credentials, you should treat them as compromised and revoke them. Even if the package gets deleted, there is a non-zero chance that somebody made a copy of it.

[2020-06-09 14:55] abhimortal6 commented on #3698
yes thanks

[2020-06-10 08:11] SwissCheese5 opened #3699 "Google sign in not redirecting and signing in"
URL: https://pub.dev/

Google sign in not redirecting me after the pop-up closes.

Most likely related to this issue despite it being a flutter issue. I think it's related, it's the exact same symptoms.
https://github.com/flutter/flutter/issues/52338

[2020-06-10 08:18] jeanluc243 opened #3700 "Install A package directly from terminal"
It is just a suggestion :

it will be better to install package in this way

**flutter pub install --last**

[2020-06-10 08:30] isoos commented on #3699
@SwissCheese5: Could you please share more information about your environment? OS, browser, plugins...

I've just tried to log in on a clean (plugin-free, cookie-free) browser window on Mac Chrome and on Mac Firefox, both latest versions, and it was working fine. It is common that content blockers does not allow some JS code to run, which can break the sign in.

[2020-06-10 08:49] SwissCheese5 commented on #3699
Hm. I disabled privacy badger and ublock origin in an incognito window before on windows 10 in a chrome browser (latest). It didn't work.

Then I tried it again to be absolutely sure after your comment and it... worked... I'm so confused but this can shed some light on the issue I linked at least

[2020-06-10 08:54] isoos commented on #3699
I usually try it with a brand new window on the "Guest" profile, instead of the incognito window. Not sure what the difference is, but incognito sometimes behaves differently.

[2020-06-10 11:27] jonasfj opened #3703 "upgrade to gcloud 0.7.1"
* generic keys in `ExpandoModel`
 * `delimiter` to `Bucket.page` (we can make dartdoc deletion faster)

[2020-06-11 08:50] jonasfj opened #3706 "Could not find package dir of analyzer"
From logs:
[code]

[2020-06-11 08:53] jonasfj opened #3707 "Fallback search should not service this query."
From logs:
[code]

[2020-06-11 09:03] jonasfj opened #3708 "analysis_options causes issue for dartdoc"
In both cases the problem is something contained in `analysis_options.yaml` in the package.
The analyzer instance used by dartdoc probably shouldn't be allowed to read the `analysis_options.yaml` from the package. What is it good for?

This can be done without deleting the file, we can simply overlay it, as we did in the `pub` command line tool:
https://github.com/dart-lang/pub/blob/b239ada4b0f80c

[2020-06-11 10:20] jhomlala opened #3709 "Library got unindentified"
There're issues with pub dev running new pana. Check my library: https://pub.dev/packages/catcher
* Library got unidentified card
* Library got No valid SDK error

This happens when pubdev started using pana 0.13.9+1. Previous pana 0.13.8 was working fine. What's the issue here? If you could point what's wrong with library configuration, then I'll be happy to fix it.

Here is configuration for Cat

[2020-06-11 12:02] sigurdm commented on #3689
A new version has been deployed yesterday.

https://pub.dev/packages/flutter_email_sender, https://pub.dev/packages/share_extend and https://pub.dev/packages/flutter_share is now no longer marked as web!

[2020-06-11 12:02] #3689 closed

[2020-06-11 12:39] sigurdm commented on #3321
Now dart-lang/pana#639 is fixed, you should be able to use https://pub.dev/flutter/packages?platform=macos . Not sure when we want to include it as an option in the interface itself.

[2020-06-11 12:49] jonasfj opened #3711 "Migrate to appengine 0.12.0 using ADC"
Moving to [appengine version 0.12.0](https://pub.dev/packages/appengine/versions/0.12.0), and update README (and other development documentation) to reflect how development should now be done using:
 * `export GOOGLE_CLOUD_PROJECT=project_id`
 * `gcloud auth application-default login`

[2020-06-11 16:16] Andrious opened #3712 "Package does not support Flutter platform...Because of import path"
Recently uploaded package, [mvc_application 5.3.0
](https://pub.dev/packages/mvc_application/versions/5.3.0#-analysis-tab-) to find a number of Analysis suggestions to come up for the first time.

Please, I'm not certain what to do about them.
What is wrong with each 'import path' repeatedly mentioned?

Package does not support Flutter platform android
Package does not support Flutter platform ios

[2020-06-12 08:25] #3703 closed

[2020-06-12 13:26] sigurdm commented on #3712
Nothing is wrong with your package.

We are now surfacing how pana came to the conclusion that your package doesn't work on those platforms (and thus did not get those tags).

However path_provider imports a linux only package, and that  breaks down our analysis. This was already discussed here: https://github.com/dart-lang/pub-dev/issues/3680

[2020-06-12 14:31] sigurdm commented on #3709
catcher only has
`plugin: platform ` declaration for web. That makes pana think it is only compatible with web.

But the dependency package:package_info/package_info.dart is not supported on web (we only manage to detect that in 0.13.9+1).

So pana concludes that no platforms are supported.

You should make a (dummy) platform declaration for each platform.

That would make your package get android

[2020-06-12 16:29] stuartmorgan commented on #3680
Could [default package edges](https://github.com/flutter/plugins/blob/master/packages/path_provider/path_provider/pubspec.yaml#L18) be pruned from the dependency graph in the pana analysis for other platforms (so in this case, ignoring any `path_provider_linux` references in `path_provider` for anything but Linux)? That's a clear signal that the package in question is specific to that platform.

[2020-06-12 16:40] stuartmorgan commented on #3680
How exactly does the analysis work here? I'm wondering if temporarily folding `path_provider_linux` into `path_provider` would be another potential way to avoid this problem. (Not ideal since the plan was to federate everything in flutter/plugins, but it might be viable in the short term if there isn't another good short-term fix.)

[2020-06-12 17:20] renefloor commented on #3680
As far as I know the analysis just checks whether all imports work on the platform. As it has an import of a file that only works on Linux (`import 'package:path_provider_linux/path_provider_linux.dart';`), so it breaks dependency on Android and iOS.

[2020-06-12 20:36] stuartmorgan commented on #3680
My question is how exactly the analysis is making the determination that the file only works on Linux. Is it because that file is in a package that's marked as a plugin, and then using the list of platforms in the plugin metadata, or is there something else going on? The exact details of the implementation are important in figuring out how we could address it.

[2020-06-13 10:22] mark-veenstra opened #3714 "Temporary dartdoc upload exception surfaced to the UI"
Our package health receives the error as described in the title.

https://pub.dev/packages/twilio_programmable_video#-analysis-tab-

What can we do about it?

[2020-06-13 12:54] isoos commented on #3714
@mark-veenstra: thanks for reporting! I looks like this is a bug in our dartdoc processing and content upload, you can do nothing about it. This looks like a temporary issue that may resolve automatically in a day or two, after the backend retries the upload again.

I'll keep the relevant part of the stacktrace in this comment, as we'll need to fix the bug which caused this exception to surface as

[2020-06-13 15:29] iLnaar opened #3715 "Unnatural example display"
URL: https://pub.dev/packages/swlabels#-example-tab-

Hello colleagues. I am publishing my first trial package on "pub.dev". The project contains an example. This example is a nested Flutter project. The problem is that the sample project is also a sub repository on Github, and it does not appear inside the main repository.

"Pub.dev" does not take this information into account. It displays only o

[2020-06-13 15:47] iLnaar commented on #3712
I have the same problem:

[swlabels](https://pub.dev/packages/swlabels#-analysis-tab-)

[2020-06-13 16:18] isoos commented on #3715
@iLnaar: you can use other files as example content, see the layout guide:
https://dart.dev/tools/pub/package-layout#examples

e.g. `example/example.md` could contain your links and description to the example sub-repo, with additional information on how to use it.

[2020-06-13 22:03] iLnaar commented on #3715
The problem is that the "README.md" file must be mandatory as it is shown on Github. But he is the last on the search list. Therefore, the first thing that will usually be used is the "lib/main.dart" file. You can also write an "EXAMPLE.md" file, but it will duplicate the "README.md" file, but you do not want to. Therefore, I have come up with such a solution so far, but it is very bad.
You can wr

[2020-06-14 04:39] Qdigital opened #3716 "<Summarize your issues here>"
URL: https://pub.dev/packages/crypto#-installing-tab-

<Describe your issue or suggestion here>

[2020-06-14 07:03] jhomlala commented on #3709
Thanks. There were 2 problems:
* root class was named catcher_plugin instead of catcher (pana searched for class named catcher.dart and he couldn't find it)
* There were no dummy platform declarations

Now it doesn't show error but few warnings.

[2020-06-14 08:32] jhomlala commented on #3712
Same here: https://github.com/jhomlala/alice

[2020-06-14 10:07] iLnaar commented on #3715
Thanks for the help. I had to abandon internal repositories. I will design a "README.md" for a separate repository.

[2020-06-14 10:07] #3715 closed

[2020-06-15 07:58] sigurdm commented on #3680
Yes that's exactly how it works.

[2020-06-15 08:25] furaiev commented on #3712
The same: https://pub.dev/packages/amazon_cognito_identity_dart_2/

[2020-06-15 08:37] isoos commented on #3714
@mark-veenstra: Our backend did re-generate the dartdoc content and uploaded it successfully, the error report cleared. I'm keeping the bug open as it would be better to not expose temporary issues from our backend.

[2020-06-15 09:10] sigurdm commented on #3716
Not sure what the problem is here.
Please reopen this with a full question.

[2020-06-15 09:10] #3716 closed

[2020-06-15 16:44] jonasfj opened #3726 "Require flutter ^1.20.0 if ios/ is not present for a plugin"
We should require in `pub publish` that, if:
 * `flutter.plugin.platforms != null` (ie. it's a plugin), and,
 * the `ios/` folder is not present.

Then the latest allowed Flutter SDK version must be 1.20.0 in `environment.flutter`.

/cc @cyanglaz,

[2020-06-15 21:11] #3699 closed

[2020-06-16 12:10] #3714 closed

[2020-06-16 12:47] jonasfj opened #3741 "Tool for unpublishing single version throws"
We should probably move to using the admin API for this instead, such that we can keep this under test coverage.

[code]

[2020-06-17 12:22] isoos commented on #3503
Duplicate of #3354

[2020-06-17 12:22] #3503 closed

[2020-06-17 12:26] #3450 closed

[2020-06-17 12:26] #3384 closed

[2020-06-17 14:44] xclud commented on #3712
The same here: https://pub.dev/packages/crop#-analysis-tab-

[2020-06-17 23:35] Sunbreak commented on #3384
@isoos Any conclusion?

[2020-06-18 07:08] isoos commented on #3384
@Sunbreak: The following url lists packages with macos tagging:
https://pub.dev/flutter/packages?platform=macos

We will expose the UI control for it later.

[2020-06-18 19:47] daniel-v opened #3728 "pub.dev doesn't list package that is available via pub cmd"
When searching for `package_resolver` on pub.dev website, I cannot find the package at all. When using it as a dependency from `pubspec.yaml`, I can download and use it normally.

Not sure where the problem might be but I definitely find this strange.

[2020-06-18 19:51] daniel-v commented on #3728
Never mind! Being a dummy: https://github.com/dart-archive/package_resolver/issues/30

They archived the package, that's why it didn't show up.

[2020-06-18 19:51] #3728 closed

[2020-06-18 22:01] isoos commented on #3728
For reference, it can be visited/read on pub.dev: https://pub.dev/packages/package_resolver, however, as it is marked discontinued, it is not part of standard listing or search.

There is a magic search expression to expose the discontinued packages: https://pub.dev/packages?q=package_resolver+is%3Adiscontinued

You can mark your own packages as discontinued, pub.dev does not check the github repo

[2020-06-19 12:09] daniel-v commented on #3728
Magic!

I think a better solution/idea would be to tell people that "yo, this project depends on a package that was discontinued". Maybe not when running `pub get` but maybe on `pub upgrade` as I expect that to take longer and tend to pay more attention to the version changes.

Maybe, the author of the package could provide a "discontinuation message" as well that would redirect me to `package_con

[2020-06-19 12:39] isoos commented on #2648
I think this has been fixed.

[2020-06-19 12:39] #2648 closed

[2020-06-19 12:41] isoos commented on #3728
Yeah, there is something planned in this area: https://github.com/dart-lang/pub/issues/2361

[2020-06-20 07:07] ken411 opened #3734 "DO NOT FILE HERE! Removing / moderating uploaded package"
DO NOT FILE ISSUES ABOUT PACKAGE REMOVAL HERE!
Please read https://pub.dev/policy and send requests to support@pub.dev

[2020-06-22 07:11] isoos opened #3735 "Investigate: grpc call with NPE"
[code]

[2020-06-22 18:20] Omzlaw commented on #2277
For GLO users in Nigeria, you can change your access point name to glosecure username: gprs and password: gprs

[2020-06-22 22:41] Luckey-Elijah opened #3738 "Feature request: add a "recommended" or "similar" packages."
* It would be really neat (and help the community out when browsing the many packages) to see a "recommended packages" or "similar packages" section of pages.
* For example, it would appear on the side bar underneath the "Publisher", "About", "Dependencies, etc. section of a page.
* Would make recommendations like:
  * "Commonly used together."
  * "Package doesn't work like you want? Look into th

[2020-06-23 08:56] #3734 closed

[2020-06-23 08:57] #3726 closed

[2020-06-23 09:25] PaoloGi commented on #3712
same here: https://pub.dev/packages/nexi_payment#-analysis-tab-

[2020-06-23 11:33] isoos opened #3744 "Create a load test for the search index"
We should have a load test with 50k+ packages, which tests if various queries are served under a certain threshold. (It can be off of CI).

[2020-06-23 12:19] imtoori commented on #3712
same here: https://pub.dev/packages/stream_chat_flutter/versions/0.2.1-alpha+10#-analysis-tab-

[2020-06-24 09:11] JEuler commented on #3712
https://pub.dev/packages/instagram_share the same issue.

[2020-06-24 11:49] mit-mit opened #3745 "Search UI for packages with null safety"
https://github.com/dart-lang/pub-dev/issues/3503 added tagging for packages with null safety. This adds a search UI option for searching only packages that have null safety.

[2020-06-26 14:51] isoos opened #3752 "Use animated/folding for advanced search"
- [ ] desktop view
- [ ] mobil view

[2020-06-26 15:09] isoos commented on #3735
Based on the top 4 lines in the stacktrace + the exception message, the `connection` here is `null`:
https://github.com/grpc/grpc-dart/blob/master/lib/src/client/call.dart#L163

I'm not sure how that would be possible. Any idea @jonasfj, @sigurdm?

[2020-06-29 03:23] josephvisaac commented on #3712
yup. me too:  https://pub.dev/packages/colors_espanol#-analysis-tab-

[2020-06-29 12:54] jonasfj commented on #3735
Then someone must be calling `onConnectionReady` with `null` for `connection`.
I'm not sure how that can happen in `Http2ClientConnection._startCall`:
[code]
(can `this` be null, probably not).

-------
Hmm, maybe this is a different `makeRequest` method:
[code]

I think `_transportConnection` can be `null`... This also aligns better with the signature from the error:

[2020-06-29 13:49] jonasfj commented on #3706
See https://github.com/dart-lang/pana/issues/675

[2020-06-30 06:50] long1eu commented on #3735
Is there any workaround?

[2020-06-30 07:01] long1eu commented on #3735
I confirm that _transportConnection is null. In my case I'm tunnelling to my localhost server using ngrok on https. I tried both secure and insecure credentials.

[2020-06-30 07:21] long1eu commented on #3735
Further investigation reveals that `_abandonConnection` is called because the `socket.done` triggers.

[2020-06-30 13:39] jonasfj opened #3754 "Show null-safety compatible badge on package pages"
**Blocked until** a migration guide is out and a pre-release of Dart advocates publishing null-safety migrated packages.

[2020-06-30 13:42] jonasfj opened #3755 "Allow search filtering based on null-safety migration status"
**Blocked until** a migration guide is out and a pre-release of Dart advocates publishing null-safety migrated packages.

Initially, we might want to hide this option in the "advanced" search options.

[2020-06-30 15:54] vr19860507 commented on #3712
https://pub.dev/packages/adt#-analysis-tab-

[2020-07-01 02:57] arifai commented on #3712
Mee to https://pub.dev/packages/flutter_boxicons#-analysis-tab-

[2020-07-01 14:12] jonasfj opened #3763 "workerSetup() fails when restarting isolates"
From logs on staging... The `stdout: Flutter setup aborted: /flutter already exists, assuming proper setup.` line repeats a few times. Not entirely sure what is going on yet.

[code]

[2020-07-01 15:36] jonasfj commented on #3763
This is not the underlying problem.

There is a problem here that restarts don't work because of `workerSetup()`.

This is a problem because when our process dies, App Engine restarts the process within the existing container.
If this continues to fail, AppEngine will restart the entire VM.

We recover when the VM is restarted, but not when the process inside the container is restarted.

[2020-07-02 11:55] jonasfj commented on #3763
@isoos, is there any reason we don't just move this into the docker image? That way instances don't have to spend time downloading and installing flutter when they are starting up?

I know that this means images will be bigger, and that `default` and `search` don't really need flutter.. but is it likely to cause much pain?

[2020-07-02 12:04] isoos commented on #3763
yes, these were the reasons, and the pain of longer deploy times. otherwise we can move it to docker image.

[2020-07-02 14:42] MaikuB commented on #2714
I don't know how many authors are publishing prerelease versions but seeing download numbers for them could help authors get a sense of the number of users that helping to test out these versions. This is turn could assist with making a decision on if it's ready for a stable release

[2020-07-03 14:41] AndroidNils opened #3771 "Improve search"
## Description
It seems to me that the search on "PubDev" is very hard. For me its very difficult the find the right packages, if I don't know the exact name.

### Example
I searched for the package `flutter95`, but I didn't had the exact name in mind. So I tried this names:
* flutter 95
* flutter_95
* 95 flutter
* flutter-95

But the result was this (same result for all mentioned combinations):
!

[2020-07-03 14:46] isoos commented on #3771
@AndroidNils: Thanks for reporting it!

The current index doesn't handle short numeric substrings in names like in this case, but I'll take a look and check how we can support it better.

[2020-07-05 10:45] subzero911 commented on #3679
+1 for dark theme

[2020-07-06 10:06] jonasfj opened #3776 "Print a warning message when starting up for the second time"
When starting up, we should write a small dummy file to `/tmp/pub-dev-started.stamp` or something like that.

If the `/tmp/pub-dev-started.stamp` file already exists, we should print a warning that the application has been restarted.
Ideally something containing a unique string like:
[code]

When can then create a custom metric looking for these messages and monitor the number of times our process

[2020-07-06 10:07] jonasfj commented on #3776
Side note: these restart times are usually also interesting times to be looking at the logs :)

[2020-07-06 11:28] isoos opened #3777 "Don't display "Include Dart 1.x" option on `/packages/flutter` and `/packages/dart`"

[2020-07-06 15:11] felangel opened #3779 "Strange Behavior Scoring/Sorting"
URL: https://pub.dev/packages/flutter_bloc

<Describe your issue or suggestion here>
Hello 👋

I recently noticed that the `flutter_bloc` package score dropped to 99 but is still sorted with other packages with a score of 100. Is this expected behavior? Seems to me like the score is still 100 but is being rendered as 99 (not sure if that's possible). Thanks!

The [google_fonts](https://pub.dev/pack

[2020-07-06 15:41] isoos commented on #3779
@felangel: Thanks for reporting it!

Yes, it is somewhat expected. We've recently started to use the number of likes as part of the default ranking for a package (alongside the package score), and while it is not reflected in the total score, it is part of the listing order.

Internally the score is not `int`, it is rounded for displaying only - the sort order was on the original `double` value.

[2020-07-06 15:41] #3779 closed

[2020-07-06 18:41] mnordine opened #3780 "Filter search with executables"
I want to be able to restrict my search to packages that have executables: https://dart.dev/tools/pub/pubspec#executables

[2020-07-06 18:56] isoos commented on #3780
@mnordine Thanks for the suggestion!

@jonasfj: Could this be a `has:executable` tag?

[2020-07-07 06:50] jaiswalshubham84 opened #3781 "I just uploaded my package with different account. Is it possible to remove my package from it so that i republish it with correct account"
I just uploaded my package with different account. can it is possible to remove my package from it so that i republish it current account.
Link to package is
https://pub.dev/packages/launchexternalapp/versions/0.0.1

Thanks in advance.

[2020-07-07 07:13] isoos commented on #3781
@jaiswalshubham84 You can see our package removal policy here: https://pub.dev/policy

In this case I'd suggest that you add account B as a second uploader to the package, then with account B's credentials you can remove account A (the current uploader).

[2020-07-07 08:58] isoos opened #3782 "/api/account/session is hit by every page load"
This is an artifact from a time where we were not using cookie-based sessions. We may only hit this endpoint in the rare cases where the user is logging in or out.

[2020-07-07 13:49] jaiswalshubham84 commented on #3781
@isoos
Yeah got your point but the package that I uploaded is meant to be published from the account of the organization in which I am working.
So if you can delete it, it will very helpful and easy situation for me.

Thanks in Advance.

[2020-07-07 13:53] isoos commented on #3781
I'm sorry, but you will need to update the uploaders the way I've suggested (let me know if you need more help on that one). If the organization is using a publisher account, you can also transfer the package to the publisher if your account is administrator in both the publisher and the package.

[2020-07-07 13:53] #3781 closed

[2020-07-07 15:23] jaiswalshubham84 opened #3788 "Is there any way to change the name of package uploaded."
DO NOT FILE ISSUES ABOUT PACKAGE REMOVAL HERE!
Please read https://pub.dev/policy and send requests to support@pub.dev

[2020-07-07 15:28] jaiswalshubham84 opened #3789 "Is there any way to change the name of package uploaded."
Is there any way to change the name of the package uploaded. I was not intentionally publishing the package, but somehow it got published by mistake.

The package is not ready up to mark and the also naming is completely wrong.
Its just got uploaded accidently.

If the package can somehow be unpublished, it will be a great help.

package link: https://pub.dev/packages/launchexternalapp/

[2020-07-08 07:47] jonasfj opened #3793 "dartdoc category support"
dartdoc generation should support `categories` and `categoryOrder` from `dartdoc_options.yaml`.

See: https://github.com/dart-lang/dartdoc#advanced-features

**Note**, we don't want to allow other options to be customized, but these seem reasonable.

[2020-07-08 08:30] isoos opened #3794 "Convert like ikon to floating action button."
https://material.io/components/buttons-floating-action-button

[2020-07-08 08:36] jonasfj commented on #3542
Trying to debug this locally I found that `lib/` was included twice:
[code]

[2020-07-08 08:36] #3542 closed

[2020-07-08 08:45] jamesderlin commented on #3542
Any idea how that might have happened?  Isn't generation of the `.tar.gz` file automated?

[2020-07-08 09:19] RaviKavaiya commented on #3712
https://pub.dev/packages/sliding_panel#-analysis-tab-

[2020-07-08 09:58] jonasfj commented on #3780
If the `executables` setion is present, then `is:tool` or `is:executable` might be better.

IMO, we should determine these tags in `pana`.

Note. having files in `bin/` is also a thing... because then you can call it with `pub run <packageName>:<filename>`  or `pub run <packageName>` in the case of `bin/<packageName>.dart`.

Hence, when `executable` section in `pubspec.yaml` is used, it's because

[2020-07-08 20:33] isoos commented on #3788
As the comment template above says, please read the policy and send requests to the support e-mail address.

[2020-07-08 20:33] #3788 closed

[2020-07-08 20:33] isoos commented on #3789
Duplicate of https://github.com/dart-lang/pub-dev/issues/3788

[2020-07-08 20:33] #3789 closed

[2020-07-08 20:38] isoos commented on #3780
I believe the relationship is the following: all `executable` entry must point to an existing file, but not every file in `bin/` needs to have a matching `executable` in `pubspec.yaml`. (This itself is something to verify in `pana`.)

I agree, we should probably focus on the files in `bin/` instead of relying only on the `pubspec.yaml`. But for me `has:executable` could cover both (or rather the f

[2020-07-09 09:16] jonasfj opened #3801 "analyzer: Free disk space (739 MB) is lower than threshold value 746 MB."
From logs:

Seems we should clear `pub-cache` every once in a while.. Maybe when we have less than 2GB space available, or maybe every 1000 packages analyzed.

This is a trigger for the `app-unhealthy` metric.

[2020-07-09 09:21] isoos commented on #3801
We should verify if these cleanup rules are still applied and working:
https://github.com/dart-lang/pub-dev/blob/master/app/lib/shared/tool_env.dart#L12-L26

[2020-07-09 09:42] #3771 closed

[2020-07-09 09:47] AndroidNils commented on #3771
@isoos Thanks for quick fixing!

[2020-07-09 09:49] jonasfj opened #3802 "type '(HttpException) => Null' is not a subtype of type '(dynamic) => dynamic'"
Maybe this is not an bug... it's not entirely clear what is up. The stacktrace isn't any longer than this.

From logs:
[code]

Followed by:
[code]

[2020-07-13 17:20] grouma opened #3897 "Pre-release SDK constraints should not require a pre-release version"
The following error should only be a warning:

`Packages with an SDK constraint on a pre-release of the Dart SDK should themselves be published as a pre-release version. `

See this specific example: https://github.com/dart-lang/build/pull/2753

[2020-07-13 19:29] abhinav2127 opened #3822 "Unable to sign in on pub.dev website"
I tried clicking on the `Sign in` but unable to login. I saw console and saw following issue.

Please refer to attached snapshot.

![image](https://user-images.githubusercontent.com/12818644/87345014-04bfb080-c56d-11ea-9e7a-d480820b2305.png)

Since this is the first time i'm facing this issue. Not sure why it is blocked.

![image](https://user-images.githubusercontent.com/12818644/87345121-30429b0

[2020-07-13 19:58] isoos commented on #3822
@abhinav2127: based on the console logs, you are using content blocker and/or privacy protection extensions. Please unblock `pub.dev` on one or all of those, as they block the JS-based OAuth2 mechanism that we are using for the sign-in.

[2020-07-13 20:09] abhinav2127 commented on #3822
Thanks @isoos, it worked fine.

Closing this issue.

[2020-07-13 20:09] #3822 closed

[2020-07-14 08:10] isoos opened #3823 "Track cleanup after new UI launch"
- [x] cleanup of mustache templates
- [x] cleanup of template code that populates mustache templates
- [x] cleanup of handler/backend code that populates the templates
- [x] cleanup of SCSS rule
- [x] review of code that populates mustache templates (looking for unnecessary variables)
- [x] review of static resources (mostly images) whether they are used for anything
- [x] review of code TODOs and

[2020-07-14 16:02] jonasfj opened #3825 "send GA event when unfolding score tab entries"
It would be nice to have insights as to whether or not people unfold and read the explanations for the scores..

[2020-07-15 14:31] tusharojha opened #3834 "Removed Search bar from package description screen"
With the launch of a new UI, the search bar from the package description page has been removed which is annoying as if the user wants to search for some other package then he/she have to go back to the homepage or the last search.

I think showing a search bar, is good to have a feature (which was present earlier).

I would like to know your suggestions for the same @isoos

[2020-07-15 15:00] Gyoko opened #3835 "Font in the new site design"
URL: https://pub.dev/

Can you please revert back the font changes made in the new design? The current font is too thin and makes it harder to read the page quickly. If you don't want change the font then please increase the weight of the current one and change the color of the main text back to black.

The current text color (#212529) combined with a lot of spacing between the page elements on a

[2020-07-15 15:38] AdnanAlshami opened #3836 "long package name is cutted from the left on Mobil"
URL: https://pub.dev/packages?q=provider

Screenshot:

![Screenshot_20200715-183106](https://user-images.githubusercontent.com/48100052/87565442-52056480-c6ca-11ea-8e3e-23c08a17dabb.png)

Device
Sony XA Ultra

[2020-07-15 15:41] jonasfj commented on #3835
Please leave a thumbs up if thicker font would be preferable to you.

[2020-07-15 15:42] jonasfj commented on #3834
Would you expect such search bar to retain your SDK/platform filters?

[2020-07-15 18:52] ZeeZeeMorin opened #3839 "<Summarize your issues here>"
URL: https://pub.dev/packages/googleapis_auth/install

<Describe your issue or suggestion here>

[2020-07-15 20:31] timsneath commented on #3839
Hi there, @ZeeZeeMorin -- what's the issue you're reporting?

[2020-07-15 22:41] AndroidNils commented on #3835
For me is the biggest problem the thin font. This makes it hard to read. It's much more readable with 110% oder 125% zoom 👍

![image](https://user-images.githubusercontent.com/24459435/87607162-fef8d500-c6fc-11ea-944e-9d9715f5d837.png)

[2020-07-15 23:43] tusharojha commented on #3834
@jonasfj yes, but atleast it should show me a search bar so that I can search any package by keyword.

[2020-07-16 00:44] romatallinn opened #3840 "Add AndroidX check in package scoring"
The AndroidX is nowadays almost a must-have for packages. It would be convenient to integrate a check for it in the scoring system.

Consider this package: [flutter_statusbar_manager](https://pub.dev/packages/flutter_statusbar_manager/)

It has a pretty good score; all checks are green, pub points are good. However, it is nearly impossible to use it together with some other packages that do use An

[2020-07-16 00:54] romatallinn commented on #3840
As @TahaTesser mentioned in the attached issue thread, the issue is not necessarily related to AndroidX compability. Will wait until the @flutter team discover the core problem. Now closing this issue, but will reopen if my guess proves to be true.

[2020-07-16 00:54] #3840 closed

[2020-07-16 11:33] Gowtham-mg commented on #3835
Ya its true..increasing font weight is really a good option. Even we expect darkmode, which can reduce the kind of eyestrain issues

[2020-07-16 14:10] jonasfj opened #3843 "Opening "sort by" in mobile view causes glitch"
Seems like the page is reloading or something.. Easily reproduced in the browsers running in mobile mode.

[2020-07-16 14:21] jonasfj opened #3844 "Improve /flutter/favorites page"
If possible it would be neat to reuse the design for publishers... and give a description of what flutter favorites is, maybe include some graphics. Maybe something like this:

![xnhcKEzVPHy](https://user-images.githubusercontent.com/149732/87682633-5be99f00-c780-11ea-9f65-4623ef923311.png)

Perhaps also link to this from the Flutter Badge..

[2020-07-16 14:23] jonasfj commented on #3844
Note, I think we need to hold off a bit before we start making substantial changes to the current design.

[2020-07-16 17:49] greglittlefield-wf opened #3846 "Poor legibility and contrast ratio in code snippets"
Related to https://github.com/dart-lang/pub-dev/issues/3835, the contrast ratio of certain colors in code snippets (particularly comments), paired with the thin default font weight, makes code snippets difficult to read.

I think the default font weight should be increased, and the colors should be adjusted to improve contrast.

Lighthouse report indicating the contrast is too low:
<img width="606

[2020-07-17 02:02] #3839 closed

[2020-07-17 11:18] nilsreichardt opened #3848 "Possible feature: Add accessibility score to PubDev score"
## Problem
Many packages have no accessibility support (Text scaling, screen reader, etc.), which is a big problem for me as an app developer. It's my responsibility that our app has accessibility support. There are no quick indicators to know if a package has accessibility support...

Especially the AppStore team pays a lot of attention to accessibility (when it comes to featuring).

#### Example

[2020-07-17 12:20] vargavince91 opened #3849 "Can we ignore some files for publishing but include in the repo?"
I'd like to leave some files in a package's repository on GitHub, but at the same time, make those files excluded when I publish a package on pub.dev.

The issue is that I'd like to add images or gifs to the README so that other developers immediately understand what the package is for. However, I don't want users of my package to have to download these images when they decide to add my package as

[2020-07-17 16:56] timsneath commented on #3848
I love the idea, and in principle we'd eagerly adopt something like this.

The challenge is execution, obviously -- packages are scanned through an automated tool, [pana](https://github.com/dart-lang/pana/), and we'd need to identify some checks that would support this. Would appreciate ideas from you or others about rules that we could apply here.

Separately, I notice that the [Flutter Favorite]

[2020-07-17 19:35] dmvvilela opened #3852 "Can i go back to the previous design?"
URL: https://pub.dev/help

This new "elegant" design looks like i am shopping in a clothing store..

The design was already new, no need to change! Also reference API for a package was EVERYTHING BOLD! I hope this was a bug.. for real

[2020-07-17 19:45] isoos commented on #3852
@dmvvilela: could you please clarify what you see as all-bold?

[2020-07-17 19:51] dmvvilela commented on #3852
Hmm i don't know what happened actually. This page:
https://pub.dev/documentation/pdf/latest/pdf/PdfPage-class.html

Everything was bolder.. but now is ok so alright.. Still i don't understand the new design.. Doesn't look like it is for code.

[2020-07-17 21:35] liyuqian opened #3853 "make the SDK search default to any"
As suggested by @johnpryan

[2020-07-17 21:36] liyuqian opened #3854 "display the SDK if the pubspec constraints cause breakage"
As suggested by @johnpryan. An example package with this issue is flutter_svg

[2020-07-17 21:39] isoos commented on #3853
It actually defaults to any, but we remember the last search settings in a cookie and may use it. So I guess this is a vote to not actively use the filters from the last search. (Similar to the request in #3356)

[2020-07-18 11:31] daniel-maxhari opened #3856 "License link isn't highlighted for some packages."
I noticed that for some packages, including the mine, the "LICENSE" link (go to metadata, under License) is not highlighted.
Also, if you click it, nothing happens.

What's the root of the problem?

Link of my package: https://pub.dev/packages/dynamic_text_highlighting

[2020-07-18 12:01] orsenkucher commented on #3834
I miss search bar so much haha

[2020-07-20 09:07] jonasfj opened #3857 "Mobile Usability > Content wider than screen"
Seems like this is caused by tables.

Example page: https://pub.dev/packages/pin_code_text_field

![k6AwkyECW95](https://user-images.githubusercontent.com/149732/87920194-27742c80-ca79-11ea-8d60-c00c9473a397.png)

[2020-07-20 09:42] isoos commented on #3854
For reference: the platform classification failed because the package requires a non-stable Flutter release. It is reported at the end of the report sections, but only in the last one, while the prior one failed with it too:
<img width="763" alt="Screenshot 2020-07-20 at 11 42 55" src="https://user-images.githubusercontent.com/4778111/87923649-1bd73480-ca7e-11ea-935c-e4168e8edefa.png">

[2020-07-20 12:13] sigurdm commented on #3852
The new design is there to stay (until we redesign again...) and we will not be maintaining two different designs.

I'm afraid there is not much actionable we can do here - taste is hard to debate.

But please open issues for concrete problems with the new design.

[2020-07-20 12:41] febritecno opened #3860 "Please add search bar in detail packages"
i'm use new design of pub-dev site so wonderful UI. but, i'm so bad lucky when read detail packages and then will searching other packages. oh no search bar not found. i'm back to landing site it's so many of my time turn to wasted.

URL: https://pub.dev/packages/pogo

[2020-07-20 12:44] isoos commented on #3860
@febritecno: when visiting a package page from search we do display this link:

<img width="227" alt="Screenshot 2020-07-20 at 14 43 18" src="https://user-images.githubusercontent.com/4778111/87938722-47b2e400-ca97-11ea-9a6e-b7c7b81f4348.png">

Is it visible for you? If not, could you please share your environment / setup? Maybe some content/privacy blocker is removing the referrer headers / block

[2020-07-20 13:27] dmvvilela commented on #3852
Ok, you right.. Sorry.. So about the new design.. Where is the search bar?

I can only see it in the main page.. in a package page it's not there anymore, so i have to go to the main page to search for another package..  This is a usability feature, so is this something that i can ask here?

[2020-07-20 13:29] isoos commented on #3856
@daniel-maxhari: Thanks for reporting this. The core reason was that our URL-utility that links to these files didn't handle the special case of `.git` in the repository/homepage URL in your `pubspec.yaml`. I've filed a PR in pana to fix it.

[2020-07-20 13:32] isoos commented on #3852
@dmvvilela: yes, search bar is perfectly valid question. As it is a duplicate of another issue, could you please add your comment / answer the questions on this: https://github.com/dart-lang/pub-dev/issues/3860#issuecomment-661011420

I thought that the "Back to search" is visible to all, but apparently it is not, or it is being missed.

[2020-07-20 13:33] febritecno commented on #3860
@isoos
I wish there was a search box in the package details. very easy for users to move to another package without returning to its original appearance. it's very tiring. but often the back button doesn't load properly either.

![image](https://user-images.githubusercontent.com/9696688/87943468-48b03980-cac8-11ea-9f8c-b4abb429d917.png)

[2020-07-20 13:37] sigurdm commented on #3852
Closing this issue for now.

Please open new issues for each trouble you find (or just +1 if they are already reported).

[2020-07-20 13:37] #3852 closed

[2020-07-20 13:37] febritecno commented on #3852
I strongly agree with the opinions on this issue. very comfortable web design before.

the back button often doesn't appear

![image](https://user-images.githubusercontent.com/9696688/87943851-cf651680-cac8-11ea-9c9c-81d1e18d291f.png)

[2020-07-20 13:40] dmvvilela commented on #3852
Ok, ill put it there..

Just one last comment, my problem is not the design per se.. but the font used! Too skinny.. The design by itself is pretty good!

And i really did not see a back to search button :/

[2020-07-20 13:41] dmvvilela commented on #3860
I did not see this back to search button either.. But still, you have to have one more click to be able to search. I think it would be usefull to have a search bar right there in the nav bar.

[2020-07-20 13:44] febritecno commented on #3852
@dmvvilela
this problem is the same that I feel. it is too difficult to search for packages while on the package details page. hopefully it can be like before.

[2020-07-20 15:04] #3356 closed

[2020-07-20 15:04] #3853 closed

[2020-07-20 15:56] #3856 closed

[2020-07-20 16:58] daniel-maxhari commented on #3856
Thank you. Should I do something to make the changes on my package or it is all handled by the program?

[2020-07-20 17:20] isoos commented on #3856
@daniel-maxhari: no need to do anything on your side. It will take a while until it gets released (depending on other stuff in our release schedule), but once it is released, the site will get an update for all versions.

[2020-07-20 17:23] johnpryan commented on #3854
It sounds like this is the expected behavior. I think since `flutter_svg` is using non-stable SDK it would need to publish this version as a [prerelease](https://dart.dev/tools/pub/publishing#publishing-prereleases) instead of a stable version.

[2020-07-20 17:23] johnpryan commented on #3854
I guess that begs the question, do these checks run on prerelease versions?

[2020-07-20 17:27] isoos commented on #3854
+1

Yes, the same checks run on all versions (and you can see it on the separate versions pages), however, only the latest stable version's score is used in search for ranking.

[2020-07-20 18:35] daniel-maxhari commented on #3856
Thanks for all your help and clarification 💯

[2020-07-20 19:33] #3857 closed

[2020-07-20 23:23] rrousselGit opened #3862 "Do not require "Support multiple platforms'" for code-generators"
Currently, all code-generators see their score deduced of 10 points, as they only work on one platform.
But that is their expected behavior.

Maybe the dependency on `package:build_runner` could be detected, such that the requirement is skipped.

[2020-07-21 11:48] febritecno commented on #3860
@dmvvilela  i think same with you.

[2020-07-21 12:57] #3843 closed

[2020-07-22 05:53] xiaobug0929 opened #3869 "<How to delete a published warehouse>"
URL: https://pub.dev/

How to delete a published warehouse

[2020-07-22 05:57] isoos commented on #3869
@xiaobug0929 please see our policy about package deletion in https://pub.dev/policy

[2020-07-22 05:57] #3869 closed

[2020-07-22 21:17] franklinyow commented on #378
This happen again for package:meta.  [Post-morten](https://docs.google.com/document/d/14r_tNTasKpfCo4zQWqLXmaelzGypJAFv1EnkNW6_hcA/edit?usp=sharing)

[2020-07-23 11:53] jonasfj opened #3878 "Bad state: StreamSink is bound to a stream"
From logs:
[code]

[2020-07-23 16:50] isoos commented on #3846
We've released a new version with increased font-weights.

[2020-07-23 16:50] #3846 closed

[2020-07-23 16:50] isoos commented on #3835
We've released a new version with increased font-weights.

[2020-07-23 16:50] #3835 closed

[2020-07-23 17:04] Gyoko commented on #3835
@isoos
The new UI has still ways to go, but it's definitely better, thanks

[2020-07-23 17:10] isoos commented on #3835
Feel free to open specific suggestions! :)

[2020-07-23 23:22] kevmoo opened #3880 "Exclude `http://localhost[:port]` from secure URL in readme logic"
URL: https://pub.dev/packages/redux/score

![Screen Shot 2020-07-23 at 4 21 12 PM](https://user-images.githubusercontent.com/17034/88347839-9b743600-cd00-11ea-8e6e-18051c1af621.png)

I guess this might be a pana issue...

[2020-07-24 07:45] isoos commented on #3880
Yes, that's pana. We shall address it after the ongoing in that codebase.

[2020-07-24 09:45] mannprerak2 opened #3881 "HTML <pre> tag support for MarkDown files on pub.dev"
URL: https://pub.dev/packages/ffigen

The `<pre>` tag doesn't seem to work properly for markdown files on **pub.dev**, however, it is working on **Github**.

Here are the files for comparison
Pub - https://pub.dev/packages/ffigen#configurations
Github - https://github.com/dart-lang/ffigen#configurations

Should this be supported? If not, is there any workaround?

[2020-07-24 09:57] isoos commented on #3881
@mannprerak2: thanks for reporting this! It looks like this is because our `<pre>` styles are expecting an additional `<code>` element inside the `<pre>`. I'll take a look on how we can update this.

[2020-07-24 10:23] viralvaghela opened #3882 "Removing / moderating uploaded package"
Please help me to remove this package
URL : https://pub.dev/packages/flutter_new_plugin

[2020-07-24 10:26] isoos commented on #3882
@viralvaghela: Please check our policy and instructions on package deletion requests: https://pub.dev/policy#purpose

[2020-07-24 10:26] #3882 closed

[2020-07-24 11:53] #3823 closed

[2020-07-24 14:28] #3881 closed

[2020-07-25 19:43] jascodes opened #3884 "Pub.dev shows my old email address"
I showes account@jas.bio but my current google account is mail@jas.bio. I didn't find ability to update it. If it has to be requested, then I formally request to switch my email to mail@jas.bio.

Thx

[2020-07-25 20:45] isoos commented on #3884
@jascodes: you should use account "A" to add account "B" as an uploader to the same package (`pub uploader add B`). Later, using account "B" you can remove account "A".

[2020-07-25 20:47] isoos commented on #3884
More on this: https://dart.dev/tools/pub/cmd/pub-uploader

[2020-07-26 02:47] jascodes commented on #3884
Hey @isoos

Thanks 🙏 for quick response.

I already tried that. The problem is mail@jas.bio is being used as Authentication account for account@jas.bio(old email). When I tried to add mail@jas.bio to a package, it wanted Auth and when I tried to auth with google account linked to mail@jas.bio it gave error since it was already linked to account@jas.bio

I will be awefully thankful if you can updat

[2020-07-26 08:13] isoos commented on #3884
/cc @jonasfj (may be back only in August though...)

[2020-07-26 09:06] ganigeorgiev opened #3885 ""Failed to run dartdoc" without any output"
There seems to be some unknown error with dartdoc on package publishing.

I've recently submitted the following package - [dygraph.dart](https://pub.dev/packages/dygraph/score) and under the "Provide documentation" section is shown that dartdoc has failed to run, but there isn't any output.

I'm able to successfully generate locally the documentation with dartdoc v0.32.1, so I assume that the issu

[2020-07-26 09:53] jonasfj commented on #3884
Please report the issue to support@pub.dev

If it's the same google account, then changing the email should work with pub.dev (this could be a bug, if it doesn't).

If your first login was prior to 2019 (April I believe), and you haven't logged in again, before changing your email, then a bug in pub.dev at the time may have caused two accounts to be created.. this we can remedy.

If you've migrate

[2020-07-26 09:53] #3884 closed

[2020-07-26 11:08] isoos commented on #3885
@ganigeorgiev: Thanks for reporting this! It looks like this is a bug in our dartdoc generator/ HTML customizer code:

[code]

At the same time I see a recent completion of retrying the `dygraph 0.1.1` documentation generation, so it may be that this will be cleared once the caches clear. I'll take a look at it regardless...

[2020-07-27 12:42] Defuera opened #3887 "Closed source code distribution"
Hello, I'm working on Dart SDK for flutter applications. It is closed source. But I cannot find any way to distribute it.

I've investigated following possibilities:

- Building obfuscated and compiled package, like Android .apk
- Distributing via pub.dev the way client does not have access to source code.

But non of this options seem to be feasible. Is there's really no way to distribute closed

[2020-07-27 13:06] isoos commented on #3887
From our [policy](https://pub.dev/policy):

We are here to service public Dart packages with their source code available / visible / unobfuscated. If you wish to distribute a closed-sourced binary, you shall seek a different distribution channel for that.

[2020-07-27 13:06] #3887 closed

[2020-07-27 13:09] Defuera commented on #3887
@isoos Thank you very much for your response. Would you be so kind to give me some directions. I'm really lost on this subject.

[2020-07-27 14:16] isoos commented on #3885
I think I've identified the root cause: `dygraph` uses `repository:` in `pubspec.yaml` and no `homepage:`. `dartdoc` generated a slightly different HTML markup (with `homepage` it links to it, with `repository` it does not link to it), and we were not prepared for that. Filed a bug for it in https://github.com/dart-lang/dartdoc/issues/2275

We'll also need to handle that gracefully on our side.

[2020-07-27 14:43] ganigeorgiev commented on #3885
@isoos Thanks for the follow up. I've just published a new version ([v0.1.1+1](https://pub.dev/packages/dygraph/versions)) with `homepage` and could confirm that the documentation was successfully generated.

[2020-07-28 06:34] modulovalue opened #3889 "Pub.dev branding guidelines."
pub.dev doesn't seem to have a brand identity and therefore no branding guidelines.

- what icon/colors should be used to represent pub.dev?
- why should I use pub.dev?

I don't think I need to list any downsides here, people who are specialized in branding/corporate identity should deal with this. This is a missed opportunity and will hurt the Dart ecosystem over the long term.
Could someone make

[2020-07-28 08:00] isoos commented on #3889
I think in the absence of pub.dev-specific branding guides, the Dart branding guide applies: https://dart.dev/brand

[2020-07-28 13:57] isoos commented on #3878
It looks like the exceptions happened between `2020-07-23 10:12:21.974` and `2020-07-23 10:32:39.507`. My suspicion is that we had a network issue, as otherwise the library behaves well (including the ~hourly regular reconnects).

While in many case it was failing in a few milliseconds, in other cases it took 30-60+ seconds until the request eventually failed. I think we should limit the operation

[2020-07-28 16:09] timsneath commented on #3889
Yeah, that's correct. pub.dev is not a distinct brand.

[2020-07-28 16:09] #3889 closed

[2020-07-29 01:40] winsweba opened #3891 "I hard error with the image_gallery_saver"
URL: https://pub.dev/packages/image_gallery_saver

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':image_gallery_saver:compileDebugKotlin'.

[2020-07-29 05:42] isoos commented on #3891
@winsweba this repository is for the pub.dev site, not individual packages. Please report you issue in the package's issue tracker (e.g. https://github.com/hui-z/image_gallery_saver/issues in this case).

[2020-07-29 05:42] #3891 closed

[2020-07-29 12:24] isoos commented on #3802
I think this has been an issue in `package:http` and it has been fixed in https://github.com/dart-lang/http/pull/429 (`http 0.12.2`)

[2020-07-29 14:02] isoos opened #3895 "package:shelf 0.7.7 does returns 500 for malformed URL"

[2020-07-29 15:54] isoos commented on #3895
Created https://github.com/dart-lang/shelf/pull/144 to fix the issue.

[2020-07-30 02:04] winsweba commented on #3891
thanks

[2020-07-30 16:09] isoos commented on #3644
@chimon2000: in the light of the new scoring, what would you change/keep from your original suggestions?

[2020-07-30 16:22] chimon2000 commented on #3644
@isoos does the new scoring account for test coverage? If not, that'd be my only nitpick. Otherwise I'm perfectly fine with the latest update.

[2020-07-30 16:27] isoos commented on #3644
No, not yet. That is something we eventually want to implement, but it has a few security implications that need to be solved upfront.

I'll close this issue then. :)

[2020-07-30 16:27] #3644 closed

[2020-07-30 16:31] isoos commented on #1493
The now-current (new) scoring improved many parts of these suggestions, including native factors and up-to-date dependencies. Please feel free to open a new issue if you see further-improvements.

[2020-07-30 16:31] #1493 closed

[2020-07-30 16:32] #1229 closed

[2020-07-30 16:38] isoos commented on #2616
I think these were implemented (in the past year).

[2020-07-30 16:38] #2616 closed

[2020-07-30 16:40] isoos commented on #3709
This has been fixed.

[2020-07-30 16:40] #3709 closed

[2020-07-30 16:43] isoos commented on #3389
I think this has been fixed.

[2020-07-30 16:43] #3389 closed

[2020-07-30 16:46] #2510 closed

[2020-07-30 16:49] #2389 closed

[2020-07-31 08:03] athomas commented on #3897
@sigurdm and @jonasfj are OOO.

Given that these issues seem connected to the stable release that is slated to go out on Monday, I have asked @isoos and @sortie to prepare for deploying a revert.

[2020-07-31 13:32] isoos commented on #3449
A few more of the weird license contents:
- "See COPYING.md"
- "TODO: add license"

[2020-07-31 15:10] leafpetersen commented on #3897
Thanks @athomas !  @jakemac53 are you unblocked from landing these fixes now?

[2020-07-31 15:11] sortie commented on #3897
I am currently deploying them to production. It should be fully up in about an hour.

[2020-07-31 16:18] sortie commented on #3897
The traffic has been switched on pub.

[2020-08-01 13:13] dhianabli commented on #2174
`pub.bat global run webdev serve
`
worked for me under windows 10

[2020-08-02 22:51] lukas-h opened #3902 "Please add a quick action to install the latest version of a package"
It's fairly difficult if you just want to grab the code to install the latest version of a package.
You have to navigate to "Installing" and then manually select and copy the version you want to use.

It could look like this:

<img width="257" alt="example pub.dev" src="https://user-images.githubusercontent.com/10634693/89134125-9befa680-d522-11ea-8642-69b8d85d37ca.png">

(This was placed in the s

[2020-08-03 08:51] isoos commented on #3862
Thank you for bringing this up: this is a topic that requires careful balancing, and we are open to new ideas. At the same time, we need to consider multiple aspects of this problem, I'll try to collect a few here:

Granting more pub points for packages the support multiple platform is a tough choice: we want to promote multi-platform packages, at the same time we are aware that package with narro

[2020-08-03 09:49] isoos commented on #3862
Please continue the discussion on the other issue.
https://github.com/dart-lang/pana/issues/720#issuecomment-667926015

[2020-08-03 09:49] #3862 closed

[2020-08-03 11:15] sigurdm commented on #3897
I guess this means we have to implement the warning in the client?

[2020-08-03 11:23] isoos commented on #3897
We could also keep the rule and have a case-by-case opt out.

[2020-08-03 13:47] mit-mit commented on #3897
I browsed though this thread, and the linked bugs, but I still don't understand why we need a change.

I still believe this needs to be *an error*: A package which depends on a pre-release package *is* itself pre-release and this should be versioned as such.

What is the canonical use case where this is intractable?

[2020-08-03 13:50] jonasfj opened #3904 "Handle "The transaction was aborted" issues"
Migrate all transactions to use:
https://github.com/dart-lang/pub-dev/blob/13d94ca4adc70027c941149ac8d633e2ffea8e52/app/lib/shared/datastore_helper.dart#L102-L115

[2020-08-03 13:51] mit-mit commented on #3897
This is in a non-stable SDK, right?

Yes, it definitely should. It's using a feature which has no stability promise and could be removed at any point in time.

Yup, sounds correct.

Why can't we publish the stable version of the package that depends on the about-to-be-stable SDK? It would not be resolvable until the stable SDK ships, but that's the behavoir we want, isn't it?

[2020-08-03 13:57] jonasfj opened #3905 "Weird version numbers are problematic"
Example: `version: 1.0.04` in https://pub.dev/packages/flutter_walle/versions/1.0.4

[2020-08-03 13:58] jonasfj commented on #3905
note. we also need a tool to cleanup any side-effects from this in datastore.

[2020-08-03 14:35] jakemac53 commented on #3897
Regardless about how you feel about depending on features that only exist in a dev SDK, there are other reasons that you may need to depend on a dev SDK in a stable release which we can't predict.

This is exactly what happened here - we needed people to get a different version of `build_runner` depending on their language version (ie: major/minor sdk version), otherwise _they would be broken_ (an

[2020-08-03 17:05] jonasfj commented on #3897
We could publish the same code as pre-release and stable release, only bumping the version number.
But we don't have tooling to do this automatically, nor is it impossible that simply changing the version number can break a package (it shouldn't but people do embed these in code and sometimes tests -- mostly seen in pana).

[2020-08-03 17:50] jakemac53 commented on #3897
Flutter pins a single version for all its deps so we can't put a version range that allows both 🤷‍♂️

I would also like to re-iterate that publishing a version of a package which claims support for a _non-existent_ sdk is strictly less safe than just allowing publishing of stable versions that require some pre-release sdk version. At least with the latter you can validate the code and not have bro

[2020-08-03 18:07] natebosch commented on #3897
In this particular case the "feature" was "the language version becomes `2.10`" which, if removed from the stable SDK release, would be an enormous problem.

There are many reasons we publish packages with more recent SDKs. Sometimes it's a bug fix, sometimes like above it's about fixing versioning issues unrelated to specific SDK features.

I feel strongly that this is an area where most authors

[2020-08-03 18:48] Kleak commented on #2958
I would also like to have the possibility to acces pub.dev api endpoint from the web.
I'm working on a project that have easy search across https://api.dart.dev, https://api.flutter.dev and https://pub.dev with some short keyword to filter one or the other.

In the case the pub api is accessible from the web i would be capable to suggest package from what they have search.

The website is here if

[2020-08-04 08:56] isoos commented on #3902
@lukas-h: thanks for the suggestions. I'm closing this, as this is the duplicate of #3336. Could you upload the image mock there too?

[2020-08-04 08:56] #3902 closed

[2020-08-04 09:22] jonasfj commented on #3860
Duplicate of https://github.com/dart-lang/pub-dev/issues/3834, please upvote in https://github.com/dart-lang/pub-dev/issues/3834 :D

[2020-08-04 09:22] #3860 closed

[2020-08-04 09:27] jonasfj commented on #3777
Because `sdk:dart` and `sdk:flutter` implies compatibility with Dart 2.x

Note. The option for 1.x is only present in advanced options, and only relevant when searching for "Any".

[2020-08-04 13:20] #3885 closed

[2020-08-04 13:21] #3836 closed

[2020-08-04 13:38] #3802 closed

[2020-08-04 16:18] jonasfj commented on #2763
I think this is fixed now, please reopen if not.

[2020-08-04 16:18] #2763 closed

[2020-08-05 06:48] lukas-h commented on #3336
<img width="257" alt="Screenshot 2020-08-03 at 00 38 02" src="https://user-images.githubusercontent.com/10634693/89380768-613f6700-d6f8-11ea-9ead-c6af119bed38.png">

reuploading image from #3902

[2020-08-05 10:15] jonasfj commented on #3897
Yes, there are plenty of other pitfalls.. You can also publish a stable version that depends on a prerelease of some other package, and thus, use transitive dependencies to achieve a stable version that requires a prerelease SDK.

[2020-08-05 10:42] #3449 closed

[2020-08-05 15:45] jonasfj opened #3910 "Expose pana-report through API"
For analysis... and dashboards.

In particular, we're going to want to expose the number of pub points, and when it was analyzed. I think this might be sufficient.

Ideally, for all versions of the package, but if we only do latest, then that would be fine too.

[2020-08-05 16:18] jonasfj commented on #3910
Sounds solid to me :)

Let's only expose:
 * Number of pub points granted,
 * Number of pub points available,
 * Date-time of analysis

Let's not expose all the JSON from the pana-report, people can run pana if they want this.
This way we have a reasonable shot at keep the API somewhat stable too.

[2020-08-05 19:19] TatsuUkraine opened #3913 "Pub dev analyzer still uses 1.17.5 flutter version"
Flutter 1.20 was released in the stable channel, but pub.dev still uses 1.17.5 to analyze packages.

So if a package has restrictions on Flutter version, for instance because it's not compatible with prev version, analizer can't properly process such package

**Example package**
https://pub.dev/packages/sticky_infinite_list/score

![Снимок экрана 2020-08-05 в 22 19 19](https://user-images.githubus

[2020-08-05 19:53] isoos commented on #3913
Thanks for reporting! Unfortunately we do not have an automatic upgrade process yet, and we need a bit of time until a tool-environment change like this (e.g. #3912) reaches the production site. We will deploy the new version with the upgraded Flutter SDK in the coming days.

[2020-08-06 08:59] isoos commented on #3642
This has been fixed.

[2020-08-06 08:59] #3642 closed

[2020-08-06 09:02] isoos commented on #3419
This exception should be fixed, as we are now reading the entry from Datastore.

[2020-08-06 09:02] #3419 closed

[2020-08-06 15:16] jonasfj commented on #3897
Closed as resolved, we're going to only keep this a warning.

[2020-08-06 15:16] #3897 closed

[2020-08-06 16:31] isoos commented on #3913
#3912 was deployed. It may take a while to analyze all packages with the new Flutter SDK, you don't need to do anything, it happens automatically.

[2020-08-06 16:31] #3913 closed

[2020-08-07 09:33] mit-mit commented on #3745
Note: We'll likely need support for searching in pre-release packages as there is how we currently think null safety versions are likely to first be published.

[2020-08-07 14:27] davidmartos96 commented on #3834
I miss the search bar as well. My use case is the following.
Run `flutter pub outdated` on my project and then browse the pub.dev website package by package to read the changelogs.
With the search bar I can quickly jump to the next package.

[2020-08-07 14:31] isoos commented on #3834
@davidmartos96: We do have a back to search icon, outlined here https://github.com/dart-lang/pub-dev/issues/3860#issuecomment-661011420

Do you have that? Isn't that useful? (It keeps the search context and filters, while a new search bar would drop that).

[2020-08-07 14:40] davidmartos96 commented on #3834
@isoos Yes I have that. The minor complaint is just that I need to first click the "Go back" button and then click again the search bar to focus it.
With the previous layout I could just start typing at the top if I know the exact package name (In this case, at least for me, I don't care if the filters are gone).
2 clicks is not that bad, unless you need to multiply that by some number, then it co